<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>

                            <form [formGroup]="entertainmentExpForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Lets start with some basic
                                        information</h5>

                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s22" class="https://player.vimeo.com/video/378544697">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/378544697"
                                                            webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label"> Did you have any work-related meal
                                                    expenses in
                                                    2019? </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="eme_time_per_week_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                value="1"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                value="0"
                                                                id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div *ngIf="entertainmentExpForm.get('eme_time_per_week_radio').value==='1'"
                                                     class="eme_time_per_week_radio_box ">

                                                    <div class="row">

                                                        <div class="col-lg-6">
                                                            <p class="default-label">Primary</p>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput   type="number"  min="0"  min="0"
                                                                               placeholder="Times Per Week"
                                                                               formControlName="eme_time_per_week">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput   type="number"  min="0"  min="0"
                                                                               placeholder="Cost Per Meal"
                                                                               formControlName="eme_meal_cost">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="isMarried" class="col-lg-6">
                                                            <p class="default-label">
                                                                Spouse</p>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput   type="number"  min="0"  min="0"
                                                                               placeholder="Times Per Week"
                                                                               formControlName="eme_spouse_time_per_week">
                                                                    </mat-form-field>
                                                                </div>

                                                                <div class="col-lg-6">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput   type="number"  min="0"  min="0"
                                                                               placeholder="Cost Per Meal"
                                                                               formControlName="eme_spouse_meal_cost">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br/>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="default-label"> Did you have any expenses
                                                    associated with gifts or
                                                    entertainment related to any coworkers or
                                                    clients in 2019?</label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="eme_gift_Description_radio"-->
                                                    <!--type="radio"-->
                                                    <!--value="1" class="icheck"-->
                                                    <!--(change)="toggleDependentsInfo($event)"-->
                                                    <!--id="r_3"><label-->
                                                    <!--for="r_3"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="eme_gift_Description_radio"-->
                                                    <!--type="radio"-->
                                                    <!--value="0"-->
                                                    <!--class="icheck"-->
                                                    <!--(change)="toggleDependentsInfo($event)"-->
                                                    <!--id="r_4"><label-->
                                                    <!--for="r_4"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="eme_gift_Description_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleDependentsInfo($event)"
                                                                value="1"

                                                                id="r_3">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleDependentsInfo($event)"
                                                                value="0"

                                                                id="r_4"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="eme_gift_Description_radio_box "
                                                     *ngIf="entertainmentExpForm.get('eme_gift_Description_radio').value==='1'">
                                                            <span formArrayName="entertainment_expenses">
                                                                <div *ngFor="let expense of tutionExpenses.controls; let i=index">
                                                                    <div [formGroupName]="i">
                                                                        <div class="row">

                                                                        <div class="col-lg-9">
                                                                            <mat-form-field class="full-width-field">
                                                                                <input matInput
                                                                                       placeholder="Description"
                                                                                       formControlName="cost_description">
                                                                            </mat-form-field>
                                                                        </div>

                                                                        <div class="col-lg-2">
                                                                             <mat-form-field class="full-width-field">
                                                                                <input matInput
                                                                                         type="number"  min="0"  min="0"
                                                                                       placeholder="Cost"
                                                                                       class="dollarIcon"
                                                                                       formControlName="cost_value">
                                                                            </mat-form-field>
                                                                        </div>
                                                                        <div class="eme_gift_cost_array eme_gift_cost_array_1">
                                                                            <a *ngIf="i>0" (click)="removeExpense(i)"
                                                                               class="remove"
                                                                               count="eme_gift_cost_array_1"
                                                                               href="javascript:;">
                                                                                <img src="assets/img/aitax-online/close-icon.png"/>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>

                                                            </span>
                                                    <a class="additional text-left"
                                                       *ngIf="tutionExpenses.length"
                                                       (click)="addExpense()" type="desc"
                                                       id="eme_gift_cost_array" href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
