<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container" style="margin-top: 10%;">
      <div class="row" style="justify-content: center;">
        <div class="card-group">
          <div class="card p-4" style="max-width: 450px">
            <div class="card-body">
              <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <h1>Change Password</h1>
                <p class="text-muted">Enter new password below</p>
                <!--<div class="input-group mb-3">-->
                <!--<div class="input-group-prepend">-->
                <!--<span class="input-group-text"><i class="icon-user"></i></span>-->
                <!--</div>-->
                <!--<input type="text"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" placeholder="Email"  required>-->
                <!--<div *ngIf="submitted && form.email.errors" class="invalid-feedback">-->
                <!--<div *ngIf="form.email.errors.required">Email is required</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="input-group mb-4">-->
                <!--<div class="input-group-prepend">-->
                <!--<span class="input-group-text"><i class="icon-key"></i></span>-->
                <!--</div>-->
                <!--<input type="text" formControlName="token" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.token.errors }" placeholder="Token"  required>-->
                <!--<div *ngIf="submitted && form.token.errors" class="invalid-feedback">-->
                <!--<div *ngIf="form.token.errors">Token is required</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" formControlName="password"
                         [ngClass]="{ 'is-invalid': submitted && form.password.errors }" placeholder="Password"
                         required>
                  <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                    <div *ngIf="form.password.errors">Password is required</div>
                  </div>

                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" formControlName="passwordConfirm" placeholder="Confirm Password"
                         autocomplete="new-password" required>
                </div>

                <!--<div class="input-group mb-4">-->
                <!--<div class="input-group-prepend">-->
                <!--<span class="input-group-text"><i class="icon-key"></i></span>-->
                <!--</div>-->
                <!--<input type="text" formControlName="token" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.token.errors }" placeholder="Token"  required>-->
                <!--<div *ngIf="submitted && form.token.errors" class="invalid-feedback">-->
                <!--<div *ngIf="form.token.errors">Token is required</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="input-group mb-4">
                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button [disabled]="loading || forgotForm.get('password').value !== forgotForm.get('passwordConfirm').value" type="submit" class="btn btn-primary px-4"><span *ngIf="loading"
                                                                                                  class="spinner-border spinner-border-sm mr-1"></span>Change
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
