.input-group-prepend {
    width: auto !important;
}

.btn {
    margin-left: 0 !important;
}


.header_bg {
    position: absolute;
    margin-top: -25px !important;
    height: 350px !important;
    background-size: contain !important;
    background-position: top;
    background-color: transparent;
}

.card.d-md-down-none {
    width: 44%;
}

@media (max-width: 991.98px) {
    .app-body {

        margin-top: 0px;
    }

    .card-group {
        flex-direction: column;
    }

    .card.p-4 {
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
        border-right: 1px solid #c8ced3;
    }

    .card.d-md-down-none {
        width: 100%;
        display: block !important;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
        border-left: 1px solid #187da0;
        margin-bottom: 40px;
    }

    .header_bg {
        margin-top: -15px !important;
    }
}

@media (min-width: 1490px) {
    .header_bg {
        background-size: cover !important;
        height: 35% !important;
    }
}
