<div class="app-body login-page">
    <div class="header_bg"></div>
    <main class="main d-flex align-items-center">

        <div class="container" style="margin-top: 15%;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <h1>Login</h1>
                                    <p class="text-muted">Sign In to your account</p>
                                    <div class="input-group mb-3">
                                        <div class="form-group-select">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <!--<input type="text" formControlName="username" class="form-control"-->
                                        <!--[ngClass]="{ 'is-invalid': submitted && f.username.errors }"-->
                                        <!--placeholder="Username" autocomplete="email">-->
                                        <mat-form-field class="full-width-field">
                                            <mat-label>First Name</mat-label>
                                            <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" matInput
                                                   formControlName="username"
                                                   placeholder="Username" autocomplete="email">
                                        </mat-form-field>
                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Username is required</div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="form-group-select">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <!--<input type="password" formControlName="password" class="form-control"-->
                                        <!--[ngClass]="{ 'is-invalid': submitted && f.password.errors }"-->
                                        <!--placeholder="Password" autocomplete="current-password" required>-->
                                        <mat-form-field class="full-width-field">
                                            <mat-label>Password</mat-label>
                                            <input type="password"
                                                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }" matInput
                                                   formControlName="password"
                                                   placeholder="Password" autocomplete="current-password" required>
                                        </mat-form-field>
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button [disabled]="loading" type="submit" class="btn btn-primary px-4">
                                                <span *ngIf="loading"
                                                      class="spinner-border spinner-border-sm mr-1"></span>Login
                                            </button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" class="btn btn-link px-0" (click)="forgotPass()">
                                                Forgot password?
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <p>Welcome to Ai Tax by Castro & Co. <br> Click "Register Now" to get started with
                                        Ai Tax.</p>
                                    <p>If you already have an account, please sign in on the left.</p>
                                    <button (click)="signup()" class="btn btn-primary active mt-3">Register Now!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

