<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->

                            <form (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit text-center">
                                    <h3 class="main_question">Introduction</h3>

                                    <div class="row content-question">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div id="s0">
                                                    <video #video (ended)="onEnd()" autoplay width="100%"
                                                           poster="../../../assets/img/posters/introduction.png"
                                                           controls
                                                           src="https://aitaxonline.com/tax-app-v-backend/public/videos/Introduction.mp4"></video>
                                                </div>
                                                <div class="form-group checkbox_questions mt-3">
                                                    <label class="default-label">
                                                        The Continue button will be enabled once you will finish
                                                        watching the video
                                                    </label>
                                                    <label class="default-label" *ngIf="didHasReportToUnlock">
                                                        We understand that you can have many things on your mind
                                                        and may have forgotten something when you did the
                                                        interview
                                                        last time. If you would like to make a change, it’s not
                                                        a
                                                        problem, but we will need to review your application
                                                        again
                                                        and it may delay your proposal. To continue, please
                                                        click
                                                        “Unlock Application” button below
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button *ngIf="didHasReportToUnlock" type="button" name="backward" (click)="unlock()"
                                            class="btn btn-primary backward">
                                        <span>Unlock Application</span>
                                    </button>
                                    <button [disabled]="!isVideoFinished" type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button [disabled]="!isVideoFinished" type="submit" name="forward"
                                            class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
