<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="depositInformationForm" (ngSubmit)="onSubmit()">
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Direct Deposit Information</h3>

                                    <div class="row content-question">
                                        <div class="col-lg-12">

                                            <div class="form-group">
                                                <label class="default-label">If you are due a refund, would you
                                                    like a direct deposit?
                                                    (If your bank information
                                                    is not provided below, your refund will be mailed by check.)
                                                </label>
                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group
                                                            formControlName="refund_deposit"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="true"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="false" id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="default-label">If you are due a refund, would you
                                                    like information on
                                                    how to split your refund
                                                    between accounts? (Optional)

                                                </label>
                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group
                                                            formControlName="refund_between_acc"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="true"
                                                                id="r_3">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="false" id="r_4"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                    <!--<small class="help-block" style="color: red; margin-bottom: 2px;"-->
                                                    <!--*ngIf="depositInformationForm.get('refund_between_acc').errors?.required && (depositInformationForm.get('refund_between_acc').dirty || depositInformationForm.get('refund_between_acc').touched)">-->
                                                    <!--Please select introduction!-->
                                                    <!--</small>-->
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <mat-checkbox formControlName="address_record">Check mailed to
                                                    the address of record
                                                </mat-checkbox>
                                            </div>
                                            <div class="form-group">
                                                <mat-checkbox formControlName="address_record_than">Check
                                                    mailed to you at an address
                                                    other than your record
                                                    address
                                                </mat-checkbox>

                                            </div>
                                            <div class="form-group">
                                                <label class="default-label"><span
                                                        class="bold-text">WARNING.</span> If you do not provide
                                                    bank
                                                    account information, you are solely responsible
                                                    for timely requesting your tax documentation, payment
                                                    vouchers and instructions, and
                                                    ensuring your federal or state tax liability is timely paid
                                                    to avoid government interest
                                                    and penalties. Based on our experience, clients that do not
                                                    provide a bank account are 99%
                                                    certain to forget, so we implore you to provide your bank
                                                    account information. Dont be
                                                    that person. Provide the information so we can make sure its
                                                    timely paid.</label>
                                            </div>
                                            <h3 class="main_question">Bank Information</h3>

                                            <div class="form-group text-center mt-5">
                                                <img src="../../../assets/img/aitax-online/FAQs_check_pic.jpg"
                                                     alt=""
                                                     style="max-height: 200px">
                                            </div>

                                            <div class="form-group">
                                                <label class="default-label">Bank wire to a bank or credit union
                                                    account (cash only):
                                                    Ask your bank for its wire
                                                    routing number. You may be charged a nominal bank fee
                                                    (usually no more than $35) for wire
                                                    transfers; please consult with your financial
                                                    institution.</label>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>Bank Routing / ABA Number (U.S. Only,-->
                                                        <!--Optional)</label>-->
                                                        <!--<input type="text" formControlName="bank_routing"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="Bank Routing / ABA Number">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Bank Routing / ABA Number (U.S. Only,
                                                                Optional
                                                            </mat-label>
                                                            <input matInput
                                                                   placeholder="Bank Routing / ABA Number"
                                                                   formControlName="bank_routing">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('bank_routing').errors?.required && (depositInformationForm.get('bank_routing').dirty || depositInformationForm.get('bank_routing').touched)">-->
                                                        <!--Please enter Bank Routing!-->
                                                        <!--</small>-->
                                                    </div>

                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>Bank Name (Optional)</label>-->
                                                        <!--<input type="text" formControlName="bank_name"-->
                                                        <!--class="form-control" placeholder="Bank Name">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Bank Name (Optional)</mat-label>
                                                            <input matInput
                                                                   placeholder="Bank Name (Optional)"
                                                                   formControlName="bank_name">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('bank_name').errors?.required && (depositInformationForm.get('bank_name').dirty || depositInformationForm.get('bank_name').touched)">-->
                                                        <!--Please enter Bank Name!-->
                                                        <!--</small>-->
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>Account Number or, if applicable, IBAN-->
                                                        <!--(Optional)</label>-->
                                                        <!--<input type="text" formControlName="account_number"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="Account Number">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Account Number or, if applicable, IBAN
                                                                (Optional)
                                                            </mat-label>
                                                            <input matInput
                                                                   placeholder="Account Number"
                                                                   formControlName="account_number">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('account_number').errors?.required && (depositInformationForm.get('account_number').dirty || depositInformationForm.get('account_number').touched)">-->
                                                        <!--Please enter Account Number!-->
                                                        <!--</small>-->
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>Account Owner Name (Optional)</label>-->
                                                        <!--<input type="text" formControlName="account_owner"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="Account Owner Name">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Account Owner Name (Optional)</mat-label>
                                                            <input matInput
                                                                   placeholder="Account Owner Name"
                                                                   formControlName="account_owner">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('account_owner').errors?.required && (depositInformationForm.get('account_owner').dirty || depositInformationForm.get('account_owner').touched)">-->
                                                        <!--Please enter Account Owner Name!-->
                                                        <!--</small>-->
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>Secondary Bank Account (Split Refund,-->
                                                        <!--Optional)</label>-->
                                                        <!--<input type="text" formControlName="secondary_bank"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="Secondary Bank Account">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Secondary Bank Account (Split Refund,
                                                                Optional)
                                                            </mat-label>
                                                            <input matInput
                                                                   placeholder="Secondary Bank Account"
                                                                   formControlName="secondary_bank">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('secondary_bank').errors?.required && (depositInformationForm.get('secondary_bank').dirty || depositInformationForm.get('secondary_bank').touched)">-->
                                                        <!--Please enter Secondary Bank Account!-->
                                                        <!--</small>-->
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>Secondary Account Owner Name (Optional)</label>-->
                                                        <!--<input type="text"-->
                                                        <!--formControlName="secondary_account_owner"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="Secondary Account Owner Name">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Secondary Account Owner Name (Optional)
                                                            </mat-label>
                                                            <input matInput
                                                                   placeholder="Secondary Account Owner Name"
                                                                   formControlName="secondary_account_owner">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('secondary_account_owner').errors?.required && (depositInformationForm.get('secondary_account_owner').dirty || depositInformationForm.get('secondary_account_owner').touched)">-->
                                                        <!--Please enter Secondary Account Owner Name!-->
                                                        <!--</small>-->
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <!--<label>Mailing Address of Financial Institution-->
                                                        <!--(Optional)</label>-->
                                                        <!--<input type="text" formControlName="mailing_address"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="Mailing Address">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Mailing Address of Financial Institution
                                                                (Optional)
                                                            </mat-label>
                                                            <input matInput
                                                                   placeholder="Mailing Address"
                                                                   formControlName="mailing_address">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('mailing_address').errors?.required && (depositInformationForm.get('mailing_address').dirty || depositInformationForm.get('mailing_address').touched)">-->
                                                        <!--Please enter Mailing Address!-->
                                                        <!--</small>-->
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>SWIFT / BIC Code (Optional)</label>-->
                                                        <!--<input type="text" formControlName="swift"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="SWIFT / BIC Code">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>SWIFT / BIC Code (Optional)</mat-label>
                                                            <input matInput
                                                                   placeholder="SWIFT / BIC Code"
                                                                   formControlName="swift">
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <!--<label>Bank State Branch (BSB) Number (Optional)</label>-->
                                                        <!--<input type="text" formControlName="bsb_number"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="(BSB) Number">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Bank State Branch (BSB) Number
                                                                (Optional)
                                                            </mat-label>
                                                            <input matInput
                                                                   placeholder="(BSB) Number"
                                                                   formControlName="bsb_number">
                                                        </mat-form-field>
                                                        <!--<small class="help-block"-->
                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                        <!--*ngIf="depositInformationForm.get('bsb_number').errors?.required && (depositInformationForm.get('bsb_number').dirty || depositInformationForm.get('bsb_number').touched)">-->
                                                        <!--Please enter (BSB) Number!-->
                                                        <!--</small>-->
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group row"
                                                 *ngIf="depositInformationForm.get('address_record_than').value">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <!--<label>Address</label>-->
                                                        <!--<input type="text" formControlName="address"-->
                                                        <!--class="form-control" placeholder="Address">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Address</mat-label>
                                                            <input matInput
                                                                   placeholder="Address"
                                                                   formControlName="address">
                                                        </mat-form-field>
                                                    </div>

                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <!--<label>City</label>-->
                                                        <!--<input type="text" formControlName="city"-->
                                                        <!--class="form-control" placeholder="City">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>City</mat-label>
                                                            <input matInput
                                                                   placeholder="City"
                                                                   formControlName="city">
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <!--<label>State or Province</label>-->
                                                        <!--<input type="text" formControlName="state"-->
                                                        <!--class="form-control"-->
                                                        <!--placeholder="State or Province">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>State or Province</mat-label>
                                                            <input matInput
                                                                   placeholder="State or Province"
                                                                   formControlName="state">
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <!--<label>Postal Code</label>-->
                                                        <!--<input type="text" formControlName="postal_code"-->
                                                        <!--class="form-control" placeholder="Postal Code">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Postal Code</mat-label>
                                                            <input matInput
                                                                   placeholder="Postal Code"
                                                                   formControlName="postal_code">
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <!--<label>Country</label>-->
                                                        <!--<input type="text" formControlName="country"-->
                                                        <!--class="form-control" placeholder="Country">-->
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Country</mat-label>
                                                            <input matInput
                                                                   placeholder="Country"
                                                                   formControlName="country">
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>