<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <div style="float: right;" class="mt-4 dropdown pull-right">
                                <button class="btn btnSt dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-display="static" aria-haspopup="true" data-toggle="dropdown"
                                        aria-expanded="false">Jump to Prior Section
                                </button>
                                <div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"
                                     aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item screenNum" href="#" id="0">Introduction</a>
                                    <a style="display: none;" class="dropdown-item screenNum" href="#"></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="submit step text-center">
                                <h3 class="mb-4 main_question"></h3>

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div *ngIf="success" class="alert alert-success alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert">&times;
                                            </button>
                                            <strong>Success!</strong> {{success}}.
                                        </div>
                                        <div class="form-group">
                                            <div id="s33" class="https://player.vimeo.com/video/385118716">
                                                <iframe style="height: 484px;" class="ifV"
                                                        src="" webkitallowfullscreen mozallowfullscreen
                                                        allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="bottom-wizard">
                                <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                <button type="button" name="backward" (click)="back()"
                                        class="btn btn-primary backward">
                                    <span>Back</span>
                                </button>
                                <button type="submit" name="process"
                                        class="btn btn-failure submit">
                                    <span>Save</span>
                                </button>
                                <button type="submit" name="forward" class="btn btn-primary ">
                                    <span *ngIf="loading">Submit</span>
                                </button>
                                <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                            </div>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>