<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="propertyDonationsForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button" id="dropdownMenuButton" data-display="static" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">Jump to Prior Section</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>Did you make any donations of property in 2019?</label>

                                                <div class="form-group checkbox_questions">
                                                    <input formControlName="pd_checkbox" type="radio" value="1"
                                                           (change)="toggleDependentsInfo($event)" id="r_1"><label
                                                        for="r_1"></label><span>   Yes</span>
                                                    &nbsp;
                                                    <input formControlName="pd_checkbox" type="radio" value="0"
                                                           (change)="toggleDependentsInfo($event)" id="r_2"><label
                                                        for="r_2"></label><span>   No</span>
                                                </div>

                                                <div class="pd_checkbox_link ">
                                                    <div class="form-group">
                                                        <div class="row pLR" formArrayName="donations">
                                                            <div *ngFor="let donation of donations.controls; let i=index"
                                                                 class="form-group_item">
                                                                <div [formGroupName]="i">
                                                                    <div class="input-group mb-3 pd_addition_array pd_addition_array_1">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><input
                                                                                    type="text"
                                                                                    placeholder="Add description"
                                                                                    class="adDes "
                                                                                    formControlName="cost_description"/></span>

                                                                        </div>
                                                                        <input  type="number"  min="0" class="dollarIcon"
                                                                               placeholder="0"
                                                                               formControlName="cost_value"/>

                                                                        <a *ngIf="i>0" class="remove"
                                                                           (click)="removeDonation(i)"
                                                                           count="pd_addition_array_1"
                                                                           href="javascript:;">
                                                                            <img src="assets/img/aitax-online/close-icon.png"/>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="additional" *ngIf="donations.length"
                                                           (click)="addDonation()" type="inputWithCost"
                                                           id="pd_addition_array" href="javascript:;">
                                                            <img width="120" src="assets/img/aitax-online/add.png"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
