<div class="app-body forgot-page">
    <main class="main d-flex align-items-center">
        <div class="container" style="margin-top: 10%;">
            <div class="row" style="justify-content: center;">
                <div class="card-group">
                    <div class="card p-4" style="max-width: 550px">
                        <div class="card-body">
                            <h3>Forgot password</h3>
                            <p class="text-muted">Enter email below</p>

                            <form [formGroup]="forgotForm" (ngSubmit)="forgotPassSend()">
                                <div class="input-group mb-3">
                                    <div class="form-group-select">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <!--<input type="text" formControlName="email"-->
                                    <!--[ngClass]="{ 'is-invalid': submitted && email.email.errors }"-->
                                    <!--placeholder="Email" autocomplete="email" required>-->
                                    <mat-form-field class="full-width-field">
                                        <input
                                                [ngClass]="{ 'is-invalid': submitted && email.email.errors }"
                                                matInput
                                                placeholder="Email" autocomplete="email" required
                                                formControlName="email">
                                    </mat-form-field>
                                    <div *ngIf="submitted && email.email.errors" class="invalid-feedback">
                                        <div *ngIf="email.email.errors.required">Email is required</div>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <button type="submit" class="btn btn-success px-4">Send</button>
                                    <a class="btn btn-primary px-4" (click)="back()">Back to Login</a></div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

