.content {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: center;
}

.content > .progress {
  width: 100%;
  height: 25px;
  background: lightblue;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 4px;

}

.content > .progress > .value {
  width: 0%;
  height: 100%;
  border-radius: 8px;
  background: #00adef;
}
