<!--<div class="content">-->
<!--    <div class="progress">-->
<!--        <div class="value" id="value">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<mat-horizontal-stepper linear #stepper [selectedIndex]="selectedIndex">
  <mat-step *ngFor="let step of steps" [completed]="step.completed">
  </mat-step>
</mat-horizontal-stepper>
