<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Operating</strong> Agreement
        </div>
        <div class="card-body">
            <div id="surveyContainer"></div>
            <div style="text-align: center;">
              <button *ngIf="showPreview" class="btn btn-primary" (click)="filePreview()">Preview Document</button> &nbsp;
              <button *ngIf="showPreview" class="btn btn-primary" (click)="finalizeDocument()">Finalize Document</button>
            </div>
        </div>
        <!-- <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div> -->
      </div>
      
    </div>
</div><!--/.row-->