<app-header
        [fixed]="true"
        [navbarBrandFull]="{src: 'assets/img/brand/new-logo.png', width: 145,  alt: 'CoreUI Logo'}"
        [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
        [sidebarToggler]="'lg'">
    <div class="main-header-title">
        <h1>Ai TAX ONLINE</h1>
        <span>Virtual Annual Tax Interview</span>
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
               dropdownToggle (click)="false">
                <img src="assets/img/avatars/avatar-icon.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Settings</strong></div>
                <div class="divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</app-header>
<!--<div class="header_bg"></div>-->
<div class="app-body">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
                 (minimizedChange)="toggleMinimize($event)">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <!-- breaking change 'cui-breadcrumb' -->
        <!--<cui-breadcrumb>-->
        <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
        <!--<li class="breadcrumb-menu d-md-down-none">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
        <!--</div>-->
        <!--</li>-->
        <!--</cui-breadcrumb>-->

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->
    </main>

</div>

<app-footer>
    <span>Castro & Co &copy; 2020.</span>
</app-footer>
<jaspero-confirmations></jaspero-confirmations>
