<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="dependentForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>


                                <div class="step submit">
                                    <h3 class="mb-4 main_question">Dependent Information</h3>

                                    <div class="row content-question justify-content-center">
                                        <div class="col-lg-7">
                                            <div class="form-group">
                                                <div id="s19">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/378540991"
                                                            webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label class="default-label"> Do you have any dependents to
                                                        claim? If yes, please
                                                        enter the information below. </label>
                                                    <div class="form-group checkbox_questions">
                                                        <!--<input formControlName="have_dependents"-->
                                                        <!--(change)="toggleDependentsInfo($event)"-->
                                                        <!--type="radio" value="1" [value]="1" class="icheck"-->
                                                        <!--id="r_1"><label-->
                                                        <!--for="r_1"></label><span>   Yes</span>-->
                                                        <!--<input formControlName="have_dependents" type="radio"-->
                                                        <!--(change)="toggleDependentsInfo($event)"-->
                                                        <!--value="0" [value]="0" class="icheck"-->
                                                        <!--id="r_2"><label-->
                                                        <!--for="r_2"></label><span>   No</span>-->
                                                        <mat-radio-group formControlName="have_dependents"
                                                                         aria-label="Select an option">
                                                            <mat-radio-button
                                                                    (change)="toggleDependentsInfo($event)"
                                                                    type=" radio"
                                                                    [value]="1"
                                                                    id="r_1">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button
                                                                    type="radio"
                                                                    (change)="toggleDependentsInfo($event)"
                                                                    value="0" [value]="0"
                                                                    id="r_2"> No
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 dRows dependant_information_radio_box "
                                                 formArrayName="dependents">
                                                <div *ngFor="let skill of dependents.controls; let i=index">
                                                    <div [formGroupName]="i">
                                                        <div class="row additional-wrapper depantent_informational_additional_array_1 dRow dR-1">
                                                            <a *ngIf="i>0" class="remove-container"
                                                               count="depantent_informational_additional_array_1"
                                                               (click)="removeDependent(i)"
                                                               href="javascript:;">

                                                                <img class="close-icon"
                                                                     src="assets/img/aitax-online/close-icon.png"/>
                                                            </a>
                                                            <div class="col-lg-12">

                                                            </div>
                                                            <div class="col-lg-12 dHead additional-title">
                                                                Dependent Information
                                                                <span *ngIf="i>0" id="1" class="rS"
                                                                      style="float: right;cursor: pointer;"
                                                                      (click)="removeDependent(i)"></span>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Full Legal Name</mat-label>
                                                                        <input matInput maxlength="10"
                                                                               formControlName="full_legal_name"
                                                                               >
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Relation (Son, Daughter,
                                                                            Parent,
                                                                            Etc.)
                                                                        </mat-label>
                                                                        <input matInput maxlength="10"
                                                                               formControlName="relation"
                                                                               >
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Number of Months lived in
                                                                            your
                                                                            home
                                                                        </mat-label>
                                                                        <input matInput type="number" min="0" maxlength="10"
                                                                               formControlName="month_lived"
                                                                               >
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <div class="row date-line">
                                                                        <label>Date of Birth</label>
                                                                        <div class="form-group-select">
                                                                            <select formControlName="day"
                                                                                    (change)="test(i)">
                                                                                <option  selected>DD
                                                                                </option>
                                                                                <option *ngFor="let _day of days"
                                                                                        value="{{_day}}">
                                                                                    {{_day}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group-select">
                                                                            <select formControlName="month"
                                                                                    (change)="test(i)">
                                                                                <option  selected >MM
                                                                                </option>
                                                                                <option *ngFor="let _month of month"
                                                                                        value="{{_month}}">
                                                                                    {{_month}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group-select">
                                                                            <select formControlName="year"
                                                                                    (change)="test(i)">
                                                                                <option  selected>YYYY
                                                                                </option>
                                                                                <option *ngFor="let _year of year"
                                                                                        value="{{_year}}">
                                                                                    {{_year}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <!--<small class="help-block"-->
                                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                                        <!--*ngIf="personalInfo.get('zip').errors?.required && (personalInfo.get('zip').dirty || personalInfo.get('zip').touched)">-->
                                                                        <!--Please enter Zip code!-->
                                                                        <!--</small>-->

                                                                        <!--<small class="help-block"-->
                                                                        <!--style="color: red; margin-bottom: 2px;"-->
                                                                        <!--*ngIf="_equal(this.dependentForm.get('dependents').value[i]['date_of_birth']) * 1 > this.date_now && dependentForm.get('dependents')[i]['date_of_birth'].errors?.required && (dependentForm.get('dependents')[i]['date_of_birth'].dirty || dependentForm.get('dependents')[i]['date_of_birth'].touched)">-->
                                                                        <!--Please enter a valid data!-->
                                                                        <!--</small>-->
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <mat-label>Social Security or
                                                                            ITIN
                                                                            #
                                                                        </mat-label>
                                                                        <input matInput
                                                                               mask="000-00-0000"
                                                                               type="text"
                                                                               formControlName="ssn"
                                                                               >
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="default-label">Married
                                                                                as
                                                                                of 12/31/19?</label>
                                                                            <div class="form-group checkbox_questions">
                                                                                <mat-radio-group
                                                                                        formControlName="married_as"
                                                                                        aria-label="Select an option">
                                                                                    <mat-radio-button
                                                                                            type="radio"
                                                                                            value="0"
                                                                                            id="{{'r_'+(i+1.05)*2}}">
                                                                                        Yes
                                                                                    </mat-radio-button>
                                                                                    <mat-radio-button
                                                                                            type="radio"
                                                                                            value="1"
                                                                                            id="{{'r_'+(i+1.1)*2}}"
                                                                                    >
                                                                                        No
                                                                                    </mat-radio-button>
                                                                                </mat-radio-group>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="default-label">Full-time
                                                                                college student in
                                                                                2019 </label>

                                                                            <div class="form-group checkbox_questions">
                                                                                <mat-radio-group
                                                                                        formControlName="fulltime_student"
                                                                                        aria-label="Select an option">
                                                                                    <mat-radio-button
                                                                                            type="radio"
                                                                                            value="0"
                                                                                            id="{{'r_'+(i+1.15)*2}}">
                                                                                        Yes
                                                                                    </mat-radio-button>
                                                                                    <mat-radio-button
                                                                                            type="radio"
                                                                                            value="1"
                                                                                            id="{{'r_'+(i+1.2)*2}}"
                                                                                    >
                                                                                        No
                                                                                    </mat-radio-button>
                                                                                </mat-radio-group>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="default-label">Received
                                                                                more than $4,050 income in
                                                                                2019 </label>

                                                                            <div class="form-group checkbox_questions">
                                                                                <mat-radio-group
                                                                                        formControlName="received_income"
                                                                                        aria-label="Select an option">
                                                                                    <mat-radio-button
                                                                                            type="radio"
                                                                                            value="0"
                                                                                            id="{{'r_'+(i+1.25)*2}}">
                                                                                        Yes
                                                                                    </mat-radio-button>
                                                                                    <mat-radio-button
                                                                                            type="radio"
                                                                                            value="1"
                                                                                            id="{{'r_'+(i+1.3)*2}}"
                                                                                    >
                                                                                        No
                                                                                    </mat-radio-button>
                                                                                </mat-radio-group>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row dependant_information_radio_box col-lg-12"
                                                     *ngIf="dependents.length">
                                                    <div class="col-lg-12">
                                                        <a class="additional" type="list"
                                                           id="depantent_informational_additional_array"
                                                           (click)="addDependent()" *ngIf="dependents.length"
                                                           href="javascript:;">
                                                            <button type="button" name="forward"
                                                                    class="btn btn-primary btn-add">
                                                                <span>Add Additional</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" />
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per"  type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>
                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
