<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="workToolForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Work Tools & Misc</h5>
                                    <div class="row content-question">
                                        <div class="col-sm-lg-12">
                                            <div class="form-group">
                                                <a (click)="openModal(vedio1);" href="javascript:void(0);"
                                                   class="video_modal" title="Video title">
                                                    <button type="button" class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you purchase a new office
                                                    desk, chair, or other
                                                    office furniture in 2019?

                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input-->
                                                    <!--formControlName="et_office_furniture_description_radio"-->
                                                    <!--type="radio" (click)="toggleFurnitureInfo($event)"-->
                                                    <!--value="1" class="icheck " id="r_1"><label-->
                                                    <!--for="r_1"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input-->
                                                    <!--formControlName="et_office_furniture_description_radio"-->
                                                    <!--(click)="toggleFurnitureInfo($event)" type="radio"-->
                                                    <!--value="0" class="icheck " id="r_2"><label-->
                                                    <!--for="r_2"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="et_office_furniture_description_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button (change)="toggleFurnitureInfo($event)"
                                                                          type="radio"
                                                                          value="1"
                                                                          id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleFurnitureInfo($event)"
                                                                type="radio"
                                                                value="0" id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="et_office_furniture_description_radio_box"
                                                     formArrayName="office_furniture">
                                                    <div
                                                            *ngFor="let expense of furniture.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                               placeholder="Description"
                                                                               formControlName="cost_description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                                type="number"  min="0"
                                                                               placeholder="Cost"
                                                                               class="dollarIcon"
                                                                               formControlName="cost_value">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="et_office_furniture_cost_array et_office_furniture_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeFurniture(i)"
                                                                       count="et_office_furniture_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img
                                                                                src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left" *ngIf="furniture.length"
                                                       (click)="addFurniture()" type="desc"
                                                       id="et_office_furniture_cost_array" href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a (click)="openModal(vedio2);"
                                                   href="javascript:void(0);"
                                                   class="video_modal" title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you purchase any new computer,
                                                    laptop, phone,
                                                    tablet, printer, ink, other office equipment
                                                    or software in 2019?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input-->
                                                    <!--formControlName="et_office_equipment_description_radio"-->
                                                    <!--type="radio" (click)="toggleEquipmentInfo($event)"-->
                                                    <!--value="1" class="icheck" id="r_3"><label-->
                                                    <!--for="r_3"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input-->
                                                    <!--formControlName="et_office_equipment_description_radio"-->
                                                    <!--type="radio" value="0"-->
                                                    <!--(click)="toggleEquipmentInfo($event)" class="icheck"-->
                                                    <!--id="r_4"><label for="r_4"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="et_office_equipment_description_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button (change)="toggleEquipmentInfo($event)"
                                                                          type="radio"
                                                                          value="1"
                                                                          id="r_3">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleEquipmentInfo($event)"
                                                                type="radio"
                                                                value="2" id="r_4"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="et_office_equipment_description_radio_box"
                                                     formArrayName="office_equipment">
                                                    <div
                                                            *ngFor="let expense of equipment.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                               placeholder="Description"
                                                                               formControlName="cost_description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                                type="number"  min="0"
                                                                               placeholder="Cost"
                                                                               class="dollarIcon"
                                                                               formControlName="cost_value">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="et_office_equipment_cost_array et_office_equipment_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeEquipment(i)"
                                                                       count="et_office_equipment_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img
                                                                                src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left" *ngIf="equipment.length"
                                                       (click)="addEquipment()" type="desc"
                                                       id="et_office_equipment_cost_array" href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="default-label"> Did you have any job-seeking
                                                    expenses in 2019 ?</label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input-->
                                                    <!--formControlName="et_seeking_expense_description_radio"-->
                                                    <!--type="radio" (click)="toggleExpenseInfo($event)"-->
                                                    <!--value="1" class="icheck " id="r_5"><label-->
                                                    <!--for="r_5"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input-->
                                                    <!--formControlName="et_seeking_expense_description_radio"-->
                                                    <!--type="radio" value="0"-->
                                                    <!--(click)="toggleExpenseInfo($event)" class="icheck "-->
                                                    <!--id="r_6"><label for="r_6"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="et_seeking_expense_description_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button (change)="toggleExpenseInfo($event)"
                                                                          type="radio"
                                                                          value="1"
                                                                          id="r_5">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleExpenseInfo($event)"
                                                                type="radio"
                                                                value="0" id="r_6"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="et_seeking_expense_description_radio_box"
                                                     formArrayName="seeking_expense">
                                                    <div *ngFor="let expense of expenses.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                               placeholder="Description"
                                                                               formControlName="cost_description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                                type="number"  min="0"
                                                                               placeholder="Cost"
                                                                               class="dollarIcon"
                                                                               formControlName="cost_value">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="et_seeking_expense_cost_array et_seeking_expense_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeExpense(i)"
                                                                       count="et_seeking_expense_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img
                                                                                src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left" *ngIf="expenses.length"
                                                       (click)="addExpense()" type="desc"
                                                       id="et_seeking_expense_cost_array" href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
</div>
<!-- src="https://player.vimeo.com/video/380554483" /main_container -->
<ng-template #vedio1 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554483"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio2 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554508"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
