<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="blueCollarExpensesForm" (ngSubmit)="onSubmit()">
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Blue Collar Expenses</h5>
                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <a (click)="openModal(vedio1);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any expenses for any
                                                    equipments,
                                                    instruments, or tools in 2019?
                                                </label>
                                                <div class="form-group checkbox_questions">
                                                    <!--<input formControlName="expenses_equipment_radio"-->
                                                    <!--type="radio"-->
                                                    <!--(click)="toggleExpensesEquipments($event)"-->
                                                    <!--value="1" id="r_1"><label-->
                                                    <!--for="r_1"></label><span>   Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="expenses_equipment_radio"-->
                                                    <!--(click)="toggleExpensesEquipments($event)"-->
                                                    <!--type="radio"-->
                                                    <!--value="0"-->
                                                    <!--[value]="0"-->
                                                    <!--id="r_2"><label for="r_2"></label><span>   No</span>-->
                                                    <mat-radio-group
                                                            formControlName="expenses_equipment_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleExpensesEquipments($event)"
                                                                id="r_1"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleExpensesEquipments($event)"
                                                                id="r_2"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="expenses_equipments_radio_box"
                                                     formArrayName="expenses_equipment">
                                                    <div *ngFor="let expense of equipments.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                               placeholder="Description"
                                                                               formControlName="cost_description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-5">
                                                                    <mat-form-field class="full-width-field">
                                                                        <input matInput
                                                                               class="dollarIcon"
                                                                                 type="number"  min="0"  min="0"
                                                                               placeholder="Cost"
                                                                               formControlName="cost_value">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeEquipments(i)"
                                                                       count="expenses_equipments_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left" *ngIf="equipments.length"
                                                       (click)="addEquipments()" type="desc"
                                                       id="expenses_equipments_cost_array" href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->

                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
<ng-template #vedio1 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554917"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio2 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554508"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
