<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="smallItemsForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button" id="dropdownMenuButton" data-display="static" aria-haspopup="1" data-toggle="dropdown" aria-expanded="0">Jump to Prior Section</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="submit step">
                                    <h3 class="mb-4 main_question">Small But Important Items</h3>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s17">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/378543246"
                                                            webkitallowfullscreen mozallowfullscreen
                                                            allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label"> Did you make any contributions to
                                                    a traditional or Roth IRA in 2019?
                                                    <br>

                                                    If Yes, please make sure to upload
                                                    your Form 5498 into <span
                                                            class="bold-text">Smartvault</span></label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="sii_traditional_IRA_contributions_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="1"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="0" id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                </div>

                                                <div class="sii_traditional_IRA_contributions_radio_box"
                                                     *ngIf="smallItemsForm.get('sii_traditional_IRA_contributions_radio').value == 1">
                                                    <div class="form-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="input-group">
                                                                <div class="col-lg-10">
                                                                    <div class="form-group-select">
                                                                        <span class="input-group-text">Traditional IRA Contributions</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="sii_traditional_IRA_contributions"
                                                                                type="number"  min="0"

                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-3">

                                                        <div class="input-group">
                                                            <div class="row w-100">
                                                                <div class="col-lg-10">
                                                                    <div class="form-group-select">
                                                                        <span class="input-group-text">Roth IRA Contributions</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="sii_roth_IRA_contributions"
                                                                                type="number"  min="0"

                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="add-text">Are you teacher?</label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="are_you_teacher_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="1"
                                                                id="r_3">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="0" id="r_4"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="are_you_teacher_radio_box"
                                                     *ngIf="smallItemsForm.get('are_you_teacher_radio').value == 1">
                                                    <label>Did you have any educator expenses as a teacher or
                                                        professor in 2019?</label>
                                                    <div class="form-group checkbox_questions mb-3">
                                                        <mat-radio-group
                                                                formControlName="sii_educator_expenses_radio"
                                                                aria-label="Select an option">
                                                            <mat-radio-button
                                                                    type="radio"
                                                                    [value]="1"
                                                                    id="r_5">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button
                                                                    type="radio"
                                                                    [value]="0" id="r_6"> No
                                                            </mat-radio-button>
                                                        </mat-radio-group>

                                                    </div>

                                                    <div class="sii_educator_expenses_radio_box "
                                                         *ngIf="smallItemsForm.get('sii_educator_expenses_radio').value == 1">
                                                        <div class="form-group mb-3">
                                                            <div class="input-group">
                                                                <div class="row w-100">
                                                                    <div class="col-lg-10">
                                                                        <div class="form-group-select">
                                                                            <span class="input-group-text">Educator Expenses</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        <mat-form-field
                                                                                class="full-width-field">
                                                                            <input matInput
                                                                                   formControlName="sii_educator_expenses"
                                                                                    type="number"  min="0"

                                                                                   class="dollarIcon">
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="add-text">Home Office Deduction</label>
                                                <br>
                                                <label>Are you self-employed with a home-office? </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="sii_self_employed_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="1"
                                                                id="r_7">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="0" id="r_8"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                </div>

                                                <div class="sii_self_employed_radio_box"
                                                     *ngIf="smallItemsForm.get('sii_self_employed_radio').value == 1">
                                                    <label>What is your monthly mortgage or rent payment?
                                                        (Multiply that by 12 and enter here)</label>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group mb-3">
                                                            <div class="row w-100">
                                                                <div class="col-lg-10">
                                                                    <div class="form-group-select">
                                                                        <span class="input-group-text">Total Mortgage / Rent Payments for the Year</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="sii_total_mortgage_payments"
                                                                                type="number"  min="0"

                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group mb-3">
                                                            <div class="row w-100">
                                                                <div class="col-lg-10">
                                                                    <div class="form-group-select">
                                                                        <span class="input-group-text">Total HOA for the Year</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="sii_total_HOA"
                                                                                type="number"  min="0"

                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <div class="input-group mb-3">
                                                            <div class="row w-100">
                                                                <div class="col-lg-10">
                                                                    <div class="form-group-select">
                                                                        <span class="input-group-text">Total Utilities (Electric, Cable/Internet, Water, etc.)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="sii_total_utilities"
                                                                                type="number"  min="0"

                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" />
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per"  type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
