<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit  text-center">
                                    <h3 class="mb-1 main_question ">The Cohan Rule</h3>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s4">
                                                    <video #video (ended)="onEnd()" width="100%"
                                                           poster="../../../assets/img/posters/cohan_rule.png"
                                                           controls
                                                           src="https://aitaxonline.com/tax-app-v-backend/public/videos/CohanRule.mp4"></video>

                                                </div>
                                                <div class="form-group checkbox_questions mt-40">
                                                    <label class="default-label">
                                                        The <span class="bold-text">NEXT</span> button will be
                                                        enabled once you will finish watching the video.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button [disabled]="!isVideoFinished" type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button [disabled]="!isVideoFinished" type="submit" name="forward"
                                            class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                        <!-- /row -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>