<div id="main_container" class="visible">
  <div class="wrapper_in">
    <div class="container-fluid">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_1">
          <div id="survey_container">
            <div id="middle-wizard">
              <div id="top-wizard">
                <!-- <strong>Progress</strong> -->
                <div id="progressbar"></div>
              </div>
              <!-- /top-wizard -->
              <app-progress-bar></app-progress-bar>
              <form [formGroup]="spouseInfoForm" (ngSubmit)="onSubmit()">
                <div class="clearfix"></div>
                <div id="optional" class="step submit">
                  <h3 class="main_question">Spouse Information</h3>

                  <div class="row content-question">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <mat-form-field class="full-width-field">
                          <mat-label>First Name</mat-label>
                          <input matInput formControlName="first_name"
                                 placeholder="First Name">
                        </mat-form-field>

                      </div>

                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <mat-form-field class="full-width-field">
                          <mat-label>Middle Name</mat-label>
                          <input matInput formControlName="middle_name">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <mat-form-field class="full-width-field">
                          <mat-label>Last Name</mat-label>
                          <input matInput formControlName="last_name" placeholder="Last Name">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <mat-form-field class="full-width-field">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email"
                                 placeholder="Email" autocomplete="email" required>
                        </mat-form-field>

                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group">
                        <mat-form-field class="full-width-field">
                          <mat-label>Phone</mat-label>
                          <input matInput maxlength="10" formControlName="phone"
                                 placeholder="Phone">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <mat-form-field class="full-width-field">
                          <mat-label>Current Job Title</mat-label>
                          <input matInput formControlName="job_title"
                                 placeholder="Job Title" required>
                        </mat-form-field>

                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="row date-line">
                          <div class="d-flex align-items-center">
                            <label class="default-label m-0">Date
                              of Birth</label>
                          </div>
                          <div>
                            <div class="form-group-select">
                              <select formControlName="day"
                                      (change)="test()">
                                <option value="" selected>DD</option>
                                <option *ngFor="let _day of days"
                                        value="{{_day}}">
                                  {{_day}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div>
                            <div class="form-group-select">

                              <select formControlName="month"
                                      (change)="test()">
                                <option value="" selected>MM</option>
                                <option *ngFor="let _month of month"
                                        value="{{_month}}">
                                  {{_month}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div>
                            <div class="form-group-select">
                              <select formControlName="year"
                                      (change)="test()">
                                <option value="" selected>YYYY</option>
                                <option *ngFor="let _year of year"
                                        value="{{_year}}">
                                  {{_year}}
                                </option>
                              </select>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-lg-8">
                      <div class="form-group">
                        <div class="form-group checkbox_questions radio-line">
                          <div class="row">
                            <div class="col-lg-12">
                              <label for="citizenship_uscitizen">
                                <mat-radio-group
                                  formControlName="citizenship_status"
                                  aria-label="Select an option">
                                  <mat-radio-button
                                    value="0"
                                    id="citizenship_uscitizen">US
                                    Citizen
                                  </mat-radio-button>
                                  <mat-radio-button
                                    value="1"
                                    id="citizenship_greencard"> Green
                                    Card Holder
                                  </mat-radio-button>
                                  <mat-radio-button
                                    value="2"
                                    id="citizenship_visa"> Visa
                                  </mat-radio-button>
                                  <mat-radio-button
                                    value="3"
                                    id="citizenship_nonresidenr">
                                    Nonresident
                                  </mat-radio-button>
                                </mat-radio-group>

                              </label>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 spouse_card_link"
                         *ngIf="spouseInfoForm.get('citizenship_status').value == '2'">
                      <mat-form-field class="full-width-field">
                        <mat-label>Visa Type</mat-label>
                        <input matInput formControlName="visa_type"
                               value=""
                               placeholder="Visa Type">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group-select">
                        <div class="styled-select">
                          <select
                            formControlName="citizenship_other">
                            <option value="" selected>Other Citizenship (if
                              applicable)
                            </option>
                            <option *ngFor="let country of otherCitizen"
                                    value="{{country}}">{{country}}
                            </option>
                            ¬
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <mat-form-field class="full-width-field">
                          <mat-label>Social Security (Optional)</mat-label>
                          <input matInput formControlName="social_security"
                                 placeholder="Social Security">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="bottom-wizard">
                  <input type="hidden" name="screenCount" id="screenCount" value=""/>
                  <button type="button" name="backward" (click)="back()"
                          class="btn btn-primary backward">
                    <span>Back</span>
                  </button>
                  <button type="submit" name="process"
                          class="btn btn-failure submit">
                    <span>Save</span>
                  </button>
                  <button type="submit" name="forward" class="btn btn-primary ">
                    <span>Next</span>
                  </button>
                  <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                </div>
              </form>
            </div>
            <!-- /Wizard container -->
          </div>
          <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        </div>
        <!-- /tab content -->
      </div>
      <!-- /container-fluid -->
    </div>
  </div>
  <!-- /main_container -->
</div>
