<div class="app-body register-page">
    <main class="main d-flex align-items-center">
        <div class="container" style="margin-top: 1%;">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <h1>Sign-Up for Ai Tax Online.
                                </h1>
                                <p class="text-muted">Please provide the information below.</p>
                                <div class="input-group mb-3">
                                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                </div>
                                <div *ngIf="success" class="input-group mb-3">
                                    <div class="alert alert-success mt-3 mb-0">{{success}}</div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="form-group-select">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <!--<input type="text" formControlName="first_name" class="form-control"-->
                                    <!--[ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"-->
                                    <!--placeholder="First Name" required>-->
                                    <mat-form-field class="full-width-field">
                                        <mat-label>First Name</mat-label>
                                        <input matInput
                                               formControlName="first_name"
                                               [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"
                                               placeholder="First Name" required>
                                    </mat-form-field>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="form-group-select">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <!--<input type="text" formControlName="last_name" class="form-control"-->
                                    <!--[ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"-->
                                    <!--placeholder="Last Name">-->
                                    <mat-form-field class="full-width-field">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput
                                               formControlName="last_name"
                                               [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"
                                               placeholder="Last Name">
                                    </mat-form-field>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-group-select">
                                        <span class="input-group-text"><i class="icon-phone"></i></span>
                                    </div>
                                    <div class="form-group-select">
                                        <select name="countryCode" class="country-code-select"
                                                formControlName="country_code" placeholder="Country Code">
                                            <option [value]="1" selected>USA (+1)</option>
                                            <option *ngFor="let item of phoneCods" [value]="item.value"
                                                    value="{{item.value}}">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <!--<input type="text" formControlName="phone" maxlength="10"-->
                                    <!--class="form-control"-->
                                    <!--[ngClass]="{ 'is-invalid': submitted && f.phone.errors }"-->
                                    <!--placeholder="Phone number">-->
                                    <mat-form-field class="full-width-field">
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput
                                               formControlName="phone" maxlength="10"
                                               [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                                               placeholder="Phone number">
                                    </mat-form-field>
                                </div>

                                <!-- <ng2-timezone-picker
                                    [timezone]="timezone"
                                    (change)="changeTimezone($event)"
                                    placeholder="Select timezone"
                                    showOffset="true"
                                    guess="true">
                                </ng2-timezone-picker> -->
                                <p class="text-muted">Login Information</p>

                                <div class="input-group mb-3">
                                    <div class="form-group-select">
                                        <span class="input-group-text"><i class="icon-mail-1"></i></span>
                                        <!--<span class="input-group-text">@</span>-->
                                    </div>
                                    <!--<input type="text" formControlName="email" class="form-control"-->
                                    <!--[ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"-->
                                    <!--autocomplete="email" required>-->
                                    <mat-form-field class="full-width-field">
                                        <mat-label>Email</mat-label>
                                        <input matInput
                                               formControlName="email"
                                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                               placeholder="Email"
                                               autocomplete="email" required>
                                    </mat-form-field>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="form-group-select">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <!--<input type="password" formControlName="password" class="form-control"-->
                                    <!--[ngClass]="{ 'is-invalid': submitted && f.password.errors }"-->
                                    <!--placeholder="Password" autocomplete="new-password" required>-->
                                    <mat-form-field class="full-width-field">
                                        <mat-label>Password</mat-label>
                                        <input matInput
                                               type="password" formControlName="password"
                                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                               placeholder="Password" autocomplete="new-password" required>
                                    </mat-form-field>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="form-group-select">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <!--<input type="password" formControlName="passwordConfirm" class="form-control"-->
                                    <!--placeholder="Confirm Password"-->
                                    <!--autocomplete="new-password" required>-->
                                    <mat-form-field class="full-width-field">
                                        <mat-label>New Passowrd</mat-label>
                                        <input matInput
                                               type="password" formControlName="passwordConfirm"
                                               placeholder="Confirm Password"
                                               autocomplete="new-password" required>
                                    </mat-form-field>
                                </div>

                                <ngx-recaptcha2 #captchaElem
                                                [siteKey]="siteKey"
                                                [useGlobalDomain]="false"
                                                formControlName="recaptcha">
                                </ngx-recaptcha2>
                                <button type="submit" [disabled]="submitted" class="btn btn-block btn-success"
                                        style="margin-top: 20px;"><span
                                        *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Create
                                    Account
                                </button>
                                <a class="btn btn-primary px-4" (click)="back()">Back to Login</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
