<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form (ngSubmit)="onSubmit()">
                                <div class="clearfix"></div>
                                <div class="step submit text-center">
                                    <h3 class="main_question">Conclusion</h3>

                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s0">
                                                    <video #video (ended)="onEnd()" width="100%"
                                                           poster="../../../assets/img/posters/conclusion.jpg"
                                                           controls
                                                           src="https://aitaxonline.com/tax-app-v-backend/public/videos/Conclusion.mp4"></video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button [disabled]="!isVideoFinished" type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button [disabled]="!isVideoFinished" type="submit" name="forward"
                                            class="btn btn-primary ">
                                        <span>Submit</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->

                        <!-- /row -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
