/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.btnSt {
    border: none;
    color: #fff;
    text-decoration: none;
    transition: background .5s ease;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    display: inline-block;
    font-weight: 400;
    outline: none;
    padding: 10px 30px 10px 20px;
    text-align: center;
    position: relative;
    font-size: 15px;
    border-radius: 3px;
    line-height: 1;
}

button.btnSt::before {
    content: "\35";
    font-family: 'ElegantIcons';
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 18px;
}

.subheader#quote {
    background-color: #fff;
    background-size: cover;
}

a {
    color: #4199FB;
}

button.backward, button.forward, button.submit, button.btnSt {
    background: #4199FB;
}

.hide {
    display: none;
}

.ui-widget-content {
    background: lightblue;
}

.ui-widget-header {
    background: #4199FB;
}

.adDes {
    height: auto !important;
    padding: 1px !important;
}

.input-group-prepend {
    width: 60%;
}

.input-group-text {
    width: 100%;
}

.mul {
    font-size: 30px;
    color: #4199FB;
}

.col-sm-1 button {
    width: 100%;
}

.col-sm-1 {
    padding-left: 0;
}

.mul {
    padding-left: 15px !important;
}

.pLR {
    padding-left: 15px;
    padding-right: 15px;
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
    border-color: #4199FB;
}

.dropdown-toggle::after {
    display: none;
}

.main_nav .nav-tabs > li > a:hover, .main_nav .nav-tabs > li > a.active {
    color: #4199FB;;
}

.remove img {
    width: 26px;
    height: 26px;
}

.ifV {
    width: 100%;
    height: 316px;
    border: none;
    margin: 0;
}

.lessH {
    height: 218px !important;
}

/*.dRow {*/
/*width: 68%;*/
/*padding: 20px 15px;*/
/*margin-bottom: 10px;*/
/*border: 2px solid;*/
/*}*/

/*.dHead {*/
/*background: #4199FB;*/
/*padding: 20px;*/
/*margin-bottom: 15px;*/
/*color: #fff;*/
/*}*/

.subheader {
    height: 315px;
}

.additional {
    margin: 10px 0;
    display: block;
}

.remove {
    display: block;
    margin-top: 15px;
}

#logo_in {
    top: -1px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    background: #4199FB;
    padding: 6px 12px;
    color: #fff !important;
    cursor: pointer;
}

/*.form-group label {
    color: #fff;
}*/
.hideVis {
    visibility: hidden;
}

.hideVisH {
    visibility: hidden;
    height: 0;
}

.pLR .input-group:first-child {
    width: 93.5%;
}

.pLR .input-group:first-child .input-group-prepend {
    width: 64%;
}

#wizard_container {
    padding: 0 10px;
}

/*.middle{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}*/
.icheckbox_square-blue, .iradio_square-blue {
    vertical-align: top;
}

/*
.playButton{
    display: inline-block;
    width: 20px;
}*/

/*============================================================================================*/
/* 5. Custom CSS Styles  */
/*============================================================================================*/
.checkbox_questions .iradio_square-blue:not(:first-child) {
    margin: 0 3px 0 15px;
}

.checkbox_questions .iradio_square-blue {
    margin-right: 3px;
}

.atLeastOne {
    display: none;
    color: #e34f4f;
    font-style: italic;
    margin-bottom: 4px;
}

.dollarIcon {
    /*background: url(../img/aitax-online/icons8-us-dollar-26.png) no-repeat scroll 5px 4px !important;*/
    /*padding-left: 30px !important;*/
}

button:focus {
    outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    color: #222;
    font-weight: 700;
}

.input-group-prepend > span {
    font-weight: 400;
}

/**/
/*blocks*/
/**/

#middle-wizard {
    position: relative;
    /*padding-bottom: 10px;*/
}

#middle-wizard:before {
    content: '';
    width: 100%;
    height: .7px;
    background: #acd2db;
    position: absolute;
    bottom: 10px;
}

div.step.submit {
    padding-bottom: 40px;
}

.input-group-prepend {
    max-height: 35px;
}

.input-group-prepend + input {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

input[placeholder="Description"] {
    margin-bottom: 10px;
}

/*.mt-2 > a.remove {*/
/*margin-right: -10px !important;*/
/*margin-top: -10px !important;*/
/*}*/

video {
    max-width: 800px;
}

.header_bg {
    margin-top: 55px;
    margin-bottom: -55px;
    width: 100vw;
    height: 300px;
    background: url("../img/header/Header_background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #001b25;
    text-align: center;
    background-position: center;
}

@media (max-width: 1300px) {
    .header_bg {
        background-size: cover;
        background-position: left;

    }
}

app-sidebar {
    position: relative;
}

.sidebar {
    margin-top: -300px !important;
}

ngb-modal-window.modal_extraDOc > .modal-dialog,
ngb-modal-window.forgot_pass_modal > .modal-dialog {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ngb-modal-window.forgot_pass_modal > .modal-dialog > .modal-content,
ngb-modal-window.modal_extraDOc > .modal-dialog > .modal-content {
    width: 480px;
    height: 300px;
    min-width: 300px;
}

ngb-modal-window.forgot_pass_modal > .modal-dialog > .modal-content > .modal-header,
ngb-modal-window.modal_extraDOc > .modal-dialog > .modal-content > .modal-header {
    border-bottom: none;
    padding: 8px;
}

ngb-modal-window.modal_extraDOc > .modal-dialog > .modal-content > iframe {
    border: none !important;
    height: 80%;
}

ngb-modal-window.forgot_pass_modal > .modal-dialog > .modal-content > .modal-body,
ngb-modal-window.forgot_pass_modal > .modal-dialog > .modal-content > .modal-body > form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
