<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="workToolExamForm" (ngSubmit)="onSubmit()">

                                <div class="clearfix"></div>
                                <div class="submit step">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Work Tools & Misc</h5>
                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <a (click)="openModal(vedio1);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any professional exam
                                                    or license renewal
                                                    fees in 2019?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="professional_fees_radio"-->
                                                    <!--type="radio"-->
                                                    <!--(click)="toggleProfesionalFeesInfo($event)" value="1"-->
                                                    <!--class="icheck" id="r_1"><label-->
                                                    <!--for="r_1"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="professional_fees_radio"-->
                                                    <!--type="radio" value="0"-->
                                                    <!--(click)="toggleProfesionalFeesInfo($event)"-->
                                                    <!--class="icheck" id="r_2"><label-->
                                                    <!--for="r_2"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="professional_fees_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleProfesionalFeesInfo($event)"
                                                                id="r_1"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleProfesionalFeesInfo($event)"
                                                                id="r_2"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                </div>

                                                <div class="professional_fees_radio_box"
                                                     formArrayName="professional_fees">
                                                    <div *ngFor="let expense of professionalFees.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row w-100">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Description</mat-label>
                                                                        <input matInput
                                                                               formControlName="cost_description"
                                                                               placeholder="Description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field>
                                                                        <input matInput
                                                                               formControlName="cost_value"
                                                                                type="number"  min="0"
                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="membership_fees_radio_cost_array membership_fees_radio_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeProfesionalFees(i)"
                                                                       count="membership_fees_radio_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left"
                                                       *ngIf="professionalFees.length"
                                                       (click)="addProfesionalFees()"
                                                       type="desc" id="membership_fees_radio_cost_array"
                                                       href="javascript:;">
                                                        <button type="button"  name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any personal
                                                    professional development
                                                    expenses in 2019?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="professional_dev_radio" type="radio"-->
                                                    <!--[value]="true" class="icheck"-->
                                                    <!--id="r_3"><label for="r_3"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="professional_dev_radio" type="radio"-->
                                                    <!--[value]="false"-->
                                                    <!--class="icheck" id="r_4"><label-->
                                                    <!--for="r_4"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="professional_dev_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                id="r_3"
                                                                type="radio"
                                                                [value]="true">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                id="r_4"
                                                                type="radio"
                                                                [value]="false"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box"
                                                     *ngIf="workToolExamForm.get('professional_dev_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Professional Development</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field>
                                                                    <input matInput
                                                                           formControlName="professional_dev"
                                                                            type="number"  min="0"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3" *ngIf="isMarried">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Professional Development (Spouse)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field>
                                                                    <input matInput
                                                                           formControlName="professional_dev_spouse"
                                                                            type="number"  min="0"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a (click)="openModal(vedio3);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any membership fees
                                                    for any professional
                                                    organizations in 2019? This
                                                    includes any
                                                    union dues in 2019?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="membership_fees_radio" type="radio"-->
                                                    <!--(click)="toggleMembershipFeesInfo($event)" value="1"-->
                                                    <!--class="icheck" id="r_5"><label-->
                                                    <!--for="r_5"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="membership_fees_radio" type="radio"-->
                                                    <!--value="0"-->
                                                    <!--(click)="toggleMembershipFeesInfo($event)"-->
                                                    <!--class="icheck" id="r_6"><label-->
                                                    <!--for="r_6"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="membership_fees_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleMembershipFeesInfo($event)"
                                                                id="r_5"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleMembershipFeesInfo($event)"
                                                                id="r_6"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                </div>

                                                <div class="membership_fees_radio_box"
                                                     formArrayName="membership_fees">
                                                    <div *ngFor="let expense of membershipFees.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Description</mat-label>
                                                                        <input matInput
                                                                               formControlName="cost_description"
                                                                               placeholder="Description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field>
                                                                        <input matInput
                                                                                type="number"  min="0"
                                                                               formControlName="cost_value"
                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="membership_fees_radio_cost_array membership_fees_radio_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeMembershipFees(i)"
                                                                       count="membership_fees_radio_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left"
                                                       *ngIf="membershipFees.length"
                                                       (click)="addMembershipFees()"
                                                       type="desc" id="membership_fees_radio_cost_array"
                                                       href="javascript:;">
                                                        <button type="button"  name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a
                                                        class="video_modal"
                                                        title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any expenses
                                                    associated with any subscription or research expenses
                                                    associated with your job?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                      formControlName="research_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button (change)="toggleResearchInfo($event)"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button (change)="toggleResearchInfo($event)"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="membership_fees_radio_box"
                                                     formArrayName="research">
                                                    <div *ngFor="let expense of research.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Description</mat-label>
                                                                        <input matInput
                                                                               formControlName="cost_description"
                                                                               placeholder="Description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field>
                                                                        <input matInput
                                                                                type="number"  min="0"
                                                                               formControlName="cost_value"
                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="membership_fees_radio_cost_array membership_fees_radio_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeMembershipFees(i)"
                                                                       count="membership_fees_radio_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left" (click)="createResearch()"
                                                       type="desc" id="membership_fees_radio_cost_array">
                                                        <button type="button"  name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
<ng-template #vedio1 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554754"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio2 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554809"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio3 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554831"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
