<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="workToolsResearchForm" (ngSubmit)="onSubmit()">
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="mb-1 main_question">Employee Business Expenses</h3>
                                    <h4 class="mb-4 main_question">Work Tools & Misc</h4>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Did you have any expenses associated with any subscription or
                                                    research expenses associated with your job?
                                                    <span class="playImg">
                                                            <a (click)="openModal(vedio1);" href="javascript:void(0);"
                                                               class="video_modal"
                                                               title="Video title">
                                                                <img src="assets/img/aitax-online/play-button.png"
                                                                     alt="" class="img-fluid"/>
                                                            </a>
                                                        </span>
                                                </label>
                                                <div class="form-group checkbox_questions">
                                                    <input formControlName="research_radio"
                                                           type="radio" (click)="toggleResearchInfo($event)"
                                                           value="1" id="r_1"><label
                                                        for="r_1"></label><span>   Yes</span>
                                                    &nbsp;
                                                    <input formControlName="research_radio"
                                                           (click)="toggleResearchInfo($event)" type="radio"
                                                           value="0"
                                                           id="r_2"><label for="r_2"></label><span>   No</span>
                                                </div>

                                                <div class="expenses_equipments_radio_box"
                                                     formArrayName="research">
                                                    <div *ngFor="let expense of research.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <input type="text"
                                                                           placeholder="Description"
                                                                           formControlName="cost_description"
                                                                           value=""/>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <input  type="number"  min="0"
                                                                           class="dollarIcon"
                                                                           placeholder="Cost"
                                                                           formControlName="cost_value"
                                                                           value=""/>
                                                                </div>
                                                                <div
                                                                        class="expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeResearch(i)"
                                                                       count="expenses_equipments_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional" *ngIf="research.length"
                                                       (click)="addResearch()" type="desc"
                                                       id="expenses_equipments_cost_array" href="javascript:;">
                                                        <img width="120" src="assets/img/aitax-online/add.png"/>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="ets_Networking_Expenses_radio_box">
                                                <label> How much did you pay each month for your home internet service
                                                    in 2019?
                                                    <span class="playImg">
                                                            <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                               class="video_modal"
                                                               title="Video title">
                                                                <img src="assets/img/aitax-online/play-button.png"
                                                                     alt="" class="img-fluid"/>
                                                            </a>
                                                        </span>
                                                </label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Monthly Internet Bill</span>
                                                    </div>
                                                    <input  type="number"  min="0" class="dollarIcon" placeholder="Cost"
                                                           formControlName="internet_pay"
                                                           value=""/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
<ng-template #vedio1 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554858"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio2 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554620"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
