<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="pocketMedicalExpensesForm" (ngSubmit)="onSubmit()">
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="mb-1 main_question">Out of Pocket Medical Expenses</h3>

                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div class="form-group">
                                                <label> Did you have any out-of-pocket expenses for prescriptions?

                                                    <span class="playImg">
                                                            <a (click)="openModal(vedio1);" href="javascript:void(0);"
                                                               class="video_modal"
                                                               title="Video title">
                                                                <img src="assets/img/aitax-online/play-button.png"
                                                                     alt=""
                                                                     class="img-fluid"/>
                                                            </a>
                                                        </span>
                                                </label>
                                                <div class="form-group checkbox_questions">
                                                    <input formControlName="out_of_pocket_medications_radio"
                                                           type="radio"
                                                           [value]="true" id="r_1"><label
                                                        for="r_1"></label><span>   Yes</span>
                                                    &nbsp;
                                                    <input formControlName="out_of_pocket_medications_radio"
                                                           type="radio"
                                                           [value]="false"
                                                           id="r_2"><label for="r_2"></label><span>   No</span>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box"
                                                     *ngIf="pocketMedicalExpensesForm.get('out_of_pocket_medications_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Out-of-pocket Medications</span>
                                                        </div>
                                                        <input  type="number"  min="0" class="dollarIcon" placeholder="Cost"
                                                               formControlName="out_of_pocket_medications"
                                                               value=""/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Did you have any out-of-pocket expenses for dental check-ups or
                                                    any visits at all to the dentist in 2019?

                                                    <span class="playImg">
                                                            <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                               class="video_modal"
                                                               title="Video title">
                                                                <img src="assets/img/aitax-online/play-button.png"
                                                                     alt=""
                                                                     class="img-fluid"/>
                                                            </a>
                                                        </span>
                                                </label>
                                                <div class="form-group checkbox_questions">
                                                    <input formControlName="out_of_pocket_dental_radio"
                                                           type="radio"
                                                           [value]="true" id="r_3"><label
                                                        for="r_3"></label><span>   Yes</span>
                                                    &nbsp;
                                                    <input formControlName="out_of_pocket_dental_radio" type="radio"
                                                           [value]="false"
                                                           id="r_4"><label for="r_4"></label><span>   No</span>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box"
                                                     *ngIf="pocketMedicalExpensesForm.get('out_of_pocket_dental_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Out-of-pocket Dental</span>
                                                        </div>
                                                        <input  type="number"  min="0" class="dollarIcon" placeholder="Cost"
                                                               formControlName="out_of_pocket_dental"
                                                               value=""/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label> Did you have any out-of-pocket expenses for any routine
                                                    checkups, injuries, or surgeries?

                                                    <span class="playImg">
                                                            <a (click)="openModal(vedio3);" href="javascript:void(0);"
                                                               class="video_modal"
                                                               title="Video title">
                                                                <img src="assets/img/aitax-online/play-button.png"
                                                                     alt=""
                                                                     class="img-fluid"/>
                                                            </a>
                                                        </span>
                                                </label>
                                                <div class="form-group checkbox_questions">
                                                    <input formControlName="out_of_pocket_other_radio"
                                                           type="radio"
                                                           [value]="true" class="icheck" id="r_5"><label
                                                        for="r_5"></label><span>   Yes</span>
                                                    &nbsp;
                                                    <input formControlName="out_of_pocket_other_radio" type="radio"
                                                           [value]="false"
                                                           id="r_6"><label for="r_6"></label><span>   No</span>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box"
                                                     *ngIf="pocketMedicalExpensesForm.get('out_of_pocket_other_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Out-of-pocket Other Medical</span>
                                                        </div>
                                                        <input  type="number"  min="0" class="dollarIcon" placeholder="Cost"
                                                               formControlName="out_of_pocket_other"
                                                               value=""/>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>

<ng-template #vedio1 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380555076"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio2 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554386"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio3 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554446"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
