<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>

                            <form [formGroup]="personalInfo" (ngSubmit)="onSubmit()">

                                <div class="step submit">
                                    <h3 class="main_question">Emergency Personnel</h3>
                                    <h5 class="sub-title-question">Emergency Personnel</h5>

                                    <div class="row content-question">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="default-label">Are You Emergency Personnel?
                                                    (Military, Police, Fire, EMS)</label>

                                                <div class="form-group checkbox_questions">
                                                    <input formControlName="personal_status"
                                                           type="radio"
                                                           value="1" id="r_1"><label
                                                        for="r_1"></label><span>   Yes</span>

                                                    <input formControlName="personal_status" type="radio"
                                                           value="0"
                                                           id="r_2"><label
                                                        for="r_2"></label><span>   No</span>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>
                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
