<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>

                            <form [formGroup]="fbarForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button" id="dropdownMenuButton" data-display="static" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">Jump to Prior Section</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="mb-4 main_question">Report of Foreign Bank and Financial Accounts
                                        (FBAR)</h3>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s7">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/378538226"
                                                            webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label">Did you have more than $10,000 in
                                                    the aggregate combined in any foreign bank accounts
                                                    outside of
                                                    the United States?</label>

                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group
                                                            formControlName="fbr_outside_money"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                id="r_1"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                id="r_2"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>


                                                </div>
                                                <label class="default-label"
                                                       *ngIf="fbarForm.get('fbr_outside_money').value=='1'">If
                                                    yes, please access the FBAR
                                                    Spreadsheet, which is available in <span
                                                            class="add-text">SmartVault</span>
                                                    in the Public Documents folder. Do
                                                    not simply open it in the Public Documents folder and
                                                    complete it because it will not
                                                    save. Follow these steps: download the spreadsheet onto your
                                                    desktop, open and complete,
                                                    save, and then upload you’re your personal <span
                                                            class="add-text">SmartVault</span> folder for the
                                                    relevant tax
                                                    year.</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>
                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>