<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="spouseAdditionalInfoForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button" id="dropdownMenuButton" data-display="static" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">Jump to Prior Section</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Additional Information</h3>
                                    <h5 class="sub-title-question">Lets Go Ahead And Gather Some
                                        Information On Your Future
                                        Planning{{personalInfo.citizenship}}</h5>

                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group USTax"
                                                 *ngIf="personalInfo && personalInfo.citizenship_status != '0'"
                                            >
                                                <label class="USTaxText default-label">When did you first
                                                    establish U.S. tax
                                                    residency? (Only answer if you're not a
                                                    U.S.citizen) </label>
                                                <!--<input type="date" placeholder="mm/dd/YYYY"-->
                                                <!--formControlName="us_tax_residency" value=""-->
                                                <!--class="uptoCurrent form-control">-->
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="row date-line">
                                                            <div>
                                                                <select formControlName="day"
                                                                        (change)="test()">
                                                                    <option value="" selected>DD</option>
                                                                    <option *ngFor="let _day of days"
                                                                            value="{{_day}}">
                                                                        {{_day}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <select formControlName="month"
                                                                        (change)="test()">
                                                                    <option value="" selected>MM</option>
                                                                    <option *ngFor="let _month of month"
                                                                            value="{{_month}}">
                                                                        {{_month}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <select formControlName="year"
                                                                        (change)="test()">
                                                                    <option value="" selected>YYYY</option>
                                                                    <option *ngFor="let _year of year"
                                                                            value="{{_year}}">
                                                                        {{_year}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group USTax"
                                                 *ngIf="personalInfo.marital_status=='1'&& spouseInfo && spouseInfo.citizenship_status!='0'"
                                            >
                                                <label class="USTaxText default-label">When did your spouse
                                                    first establish
                                                    U.S. tax
                                                    residency? </label>
                                                <!--<input type="date" placeholder="mm/dd/YYYY"-->
                                                <!--formControlName="us_tax_residency_spouse" value=""-->
                                                <!--class="uptoCurrent">-->
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <mat-form-field class="full-width-field">
                                                            <input matInput
                                                                   type="date"
                                                                   formControlName="us_tax_residency_spouse"
                                                                   placeholder="mm/dd/YYYY"
                                                                   class="uptoCurrent">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="default-label">Do you have plans to change your
                                                    immigration
                                                    status? </label>

                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group
                                                            formControlName="plan_to_change_immigration"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                value="0"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button

                                                                type="radio"
                                                                value="1" id="r_2"
                                                        > No
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio" value="2"
                                                                id="r_3"> Unsure
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="default-label">Do you have plans to depart the
                                                    U.S. this year or the
                                                    next? </label>
                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group formControlName="plan_to_depart"
                                                                     aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                value="0"
                                                                id="r_4">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button

                                                                type="radio"
                                                                value="1" id="r_5"
                                                        > No
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio" value="2"
                                                                id="r_6"> Unsure
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="default-label">Do you currently have an estate
                                                    plan in place? (Wills,
                                                    Trust, POAs, etc.)</label>

                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group formControlName="estate_plan_in_place"
                                                                     aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                value="0"
                                                                id="r_7">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button

                                                                type="radio"
                                                                value="1" id="r_8"
                                                        > No
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio" value="2"
                                                                id="r_9"> Unsure
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>
                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>