<div id="main_container" class="visible">
  <div class="wrapper_in">
    <div class="container-fluid">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_1">
          <div id="survey_container">
            <div id="middle-wizard">
              <div id="top-wizard">
                <!-- <strong>Progress</strong> -->
                <div id="progressbar"></div>
              </div>
              <!-- /top-wizard -->
              <app-progress-bar></app-progress-bar>
              <form [formGroup]="charitableDonationsForm" (ngSubmit)="onSubmit()">
                <div class="clearfix"></div>
                <div class="step submit">
                  <h3 class="mb-4 main_question">Charitable Donations</h3>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <div id="s10">
                          <iframe class="ifV"
                                  src="https://player.vimeo.com/video/378544113"
                                  webkitallowfullscreen
                                  mozallowfullscreen allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="default-label">Did you make any <span
                          class="add-text">cash</span> contributions in
                          2019?</label>

                        <div class="form-group checkbox_questions">
                          <mat-radio-group
                            formControlName="make_cache"
                            aria-label="Select an option">
                            <mat-radio-button
                              (change)="toggleDonationsInfo($event)"
                              id="r_1"
                              [value]="1">Yes
                            </mat-radio-button>
                            <mat-radio-button
                              (change)="toggleDonationsInfo($event)"
                              id="r_2"
                              [value]="0"> No
                            </mat-radio-button>
                          </mat-radio-group>

                        </div>
                        <div *ngIf="charitableDonationsForm.get('make_cache').value=='1'"
                             class="cd_cash_contribution_checkbox_link"
                             formArrayName="donations">
                          <div *ngFor="let expense of donations.controls; let i=index">
                            <div [formGroupName]="i">
                              <div class="row">
                                <div class="col-sm-4">
                                  <div>
                                    <mat-form-field
                                      class="full-width-field">
                                      <mat-label>Description</mat-label>
                                      <input matInput
                                             formControlName="description"
                                             type="text">
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="styled-select form-group-select">
                                    <select id=""
                                            (change)="calc()"
                                            formControlName="frequency">
                                      <option value="" selected>
                                        Frequency
                                      </option>
                                      <option data-amount="1"
                                              value="1">One Time
                                      </option>
                                      <option data-amount="52"
                                              value="52">
                                        Weekly Recurring (amount x 52)
                                      </option>
                                      <option data-amount="12"
                                              value="12">
                                        Monthly Recurring (amount x 12)
                                      </option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div>
                                    <mat-form-field
                                      class="full-width-field dollar-input">
                                      <mat-label>Amount</mat-label>
                                      <input matInput
                                             (change)="calc()"
                                               type="number"   min="0"
                                             min="0"
                                             formControlName="amount"
                                             class="dollarIcon">
                                    </mat-form-field>
                                    <!--<small class="help-block"-->
                                    <!--style="color: red; margin-bottom: 2px;">-->
                                    <!--&lt;!&ndash;*ngIf="charitableDonationsForm.get('amount').errors?.required && (charitableDonationsForm.get('amount').dirty || charitableDonationsForm.get('amount').touched)"&ndash;&gt;-->
                                    <!--Please enter amount!-->
                                    <!--</small>-->
                                  </div>
                                </div>
                                <div
                                  class="expenses_equipments_cost_array expenses_equipments_cost_array_1"
                                  style="position: relative">
                                  <a *ngIf="i>0" class="remove"
                                     (click)="removeDonations(i)"
                                     count="expenses_equipments_cost_array_1"
                                     href="javascript:;">
                                    <img src="assets/img/aitax-online/close-icon.png"/>
                                  </a>
                                </div>

                              </div>
                            </div>
                          </div>
                          <a class="additional text-left" *ngIf="donations.length"
                             (click)="addDonations()" type="desc"
                             id="expenses_equipments_cost_array" href="javascript:;">
                            <button type="submit" name="forward"
                                    class="btn btn-primary btn-add">
                              <span>Add Additional</span>
                            </button>
                          </a>
                          <label class="label-sum">Calculated:</label>
                          <input readonly
                                 type="text"
                                 name="cd_frequency_cost_contribution_calculated"
                                 class=" cd_frequency_cost_contribution_calculated calc-input"
                                 value="$ {{calculation || 0}}">
                          <br>
                          <label class="default-label">Using your best Good-Faith
                            Estimate, how much would
                            you say you give to charity? Either One time, Weekly, or
                            Monthly basis.</label>
                        </div>

                        <!--</div>-->
                        <div class="form-group mb-3 mt-3">
                          <label class="default-label">Did you make any donations of
                            property in 2019?</label>
                          <div class="form-group checkbox_questions mb-3">
                            <mat-radio-group
                              formControlName="pd_checkbox"
                              aria-label="Select an option">
                              <mat-radio-button (change)="togglePropertyDonationsInfo($event)"
                                                type="radio"
                                                [value]="1">Yes
                              </mat-radio-button>
                              <mat-radio-button (change)="togglePropertyDonationsInfo($event)"
                                                type="radio"
                                                [value]="0"> No
                              </mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>

                        <div class="form-group">
                          <div *ngIf="charitableDonationsForm.get('pd_checkbox').value=='1'" formArrayName="property_donations">
                            <div *ngFor="let expense of property_donations.controls; let i=index">
                              <div [formGroupName]="i">
                                <div>
                                  <div class="row w-100">
                                    <div class="col-lg-9">
                                      <mat-form-field
                                        class="full-width-field">
                                        <input matInput
                                               type="text"
                                               placeholder="Add description"
                                               formControlName="cost_description">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-lg-2">
                                      <mat-form-field
                                        class="full-width-field">
                                        <input matInput
                                                 type="number"  min="0"  min="0"
                                               formControlName="cost_value"
                                               class="dollarIcon">
                                      </mat-form-field>
                                    </div>
                                    <a *ngIf="i>0" class="remove" (click)="removePropertyDonations(i)"
                                       href="javascript:;">
                                      <img class="close-icon"
                                           src="assets/img/aitax-online/close-icon.png"/>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a *ngIf="property_donations.length" class="additional text-left"
                             type="inputWithCost"
                             href="javascript:;">
                            <button (click)="addPropertyDonations()" name="forward"
                                    class="btn btn-primary btn-add">
                              <span>Add Additional</span>
                            </button>
                          </a>
                        </div>
                        <div class="form-group mb-3 mt-3">
                          <label class="default-label">Did you have any Volunteering
                            Expenses in 2019?
                            <br>
                            (Remember, this includes any expense that you would not
                            have incurred but for the volunteering, which would also
                            include babysitters for kids.)</label>
                          <div class="form-group checkbox_questions mb-3">
                            <mat-radio-group
                              formControlName="ve_volunteering_checkbox"
                              aria-label="Select an option">
                              <mat-radio-button
                                (change)="toggleExpenseInfo($event)"
                                [value]="1">Yes
                              </mat-radio-button>
                              <mat-radio-button
                                (change)="toggleExpenseInfo($event)"
                                [value]="0"> No
                              </mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>
                        <div class="form-group">
                          <div *ngIf="charitableDonationsForm.get('ve_volunteering_checkbox').value=='1'" formArrayName="expenses">
                            <div *ngFor="let expense of expenses.controls; let i=index">
                              <div [formGroupName]="i">
                                <div>
                                  <div class="row w-100">
                                    <div class="col-lg-9">

                                      <mat-form-field

                                        class="full-width-field">
                                        <input matInput
                                               type="text"
                                               placeholder="Add description"
                                               formControlName="cost_description">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-lg-2">
                                      <mat-form-field
                                        class="full-width-field">
                                        <input matInput
                                                 type="number"  min="0"  min="0"
                                               placeholder="0"
                                               formControlName="cost_value"
                                               class="dollarIcon">
                                      </mat-form-field>
                                    </div>
                                    <a *ngIf="i>0" (click)="removeExpenses(i)" class="remove"
                                       href="javascript:;">
                                      <img class="close-icon"
                                           src="assets/img/aitax-online/close-icon.png"/>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a *ngIf="expenses.length" class="additional text-left" (click)="createExpense()"
                             type="inputWithCost"
                             href="javascript:;">
                            <button type="submit" name="forward"
                                    class="btn btn-primary btn-add">
                              <span>Add Additional</span>
                            </button>
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div id="bottom-wizard">
                  <input type="hidden" name="screenCount" id="screenCount" value=""/>
                  <button type="button" name="backward" (click)="back()"
                          class="btn btn-primary backward">
                    <span>Back</span>
                  </button>
                  <button type="submit" name="process"
                          class="btn btn-failure submit">
                    <span>Save</span>
                  </button>
                  <button type="submit" name="forward" class="btn btn-primary ">
                    <span>Next</span>
                  </button>
                  <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                </div>
              </form>

            </div>
            <!-- /Wizard container -->
          </div>
          <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        </div>
        <!-- /tab content -->
      </div>
      <!-- /container-fluid -->
    </div>
    <!-- /wrapper_in -->
  </div>
  <!-- /main_container -->
</div>
