<div id="main_container" class="visible">
  <div class="wrapper_in">
    <div class="container-fluid">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab_1">
          <div id="survey_container">
            <div id="middle-wizard">
              <div id="top-wizard">
                <!-- <strong>Progress</strong> -->
                <div id="progressbar"></div>
              </div>
              <!-- /top-wizard -->
              <app-progress-bar></app-progress-bar>

              <form [formGroup]="emergencyPersonalExpensesForm" (ngSubmit)="onSubmit()">
                <div class="clearfix"></div>
                <div class="step submit">
                  <h3 class="main_question">Employee Business Expenses</h3>
                  <h5 class="sub-title-question">Emergency Personnel</h5>

                  <div class="row content-question">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="default-label">Are You Emergency Personnel?
                          (Military, Police, Fire, EMS)</label>

                        <div class="form-group checkbox_questions mb-3">
                          <mat-radio-group
                            formControlName="personal_status"
                            aria-label="Select an option">
                            <mat-radio-button
                              value="1">Yes
                            </mat-radio-button>
                            <mat-radio-button
                              value="0"> No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>

                      </div>
                      <div class="form-group">
                        <label class="default-label"> Did you purchase any new weapons
                          in 2019?</label>
                        <div class="form-group checkbox_questions mb-3">
                          <mat-radio-group
                            formControlName="weapons_radio"
                            aria-label="Select an option">
                            <mat-radio-button
                              (change)="toggleWeapons($event)"
                              id="r_1"
                              value="1">Yes
                            </mat-radio-button>
                            <mat-radio-button
                              (change)="toggleWeapons($event)"
                              id="r_2"
                              value="0"> No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>

                        <div class="weapons_radio_box"
                             *ngIf="emergencyPersonalExpensesForm.get('weapons_radio').value == 1"
                             formArrayName="weapons_arr">

                          <div class="input-group mb-3">
                            <div class="w-100"
                                 *ngFor="let expense of weapons.controls; let i=index">
                              <div [formGroupName]="i">
                                <div class="row w-100">
                                  <div class="col-lg-9">
                                    <mat-form-field
                                      class="full-width-field">
                                      <input matInput
                                             placeholder="Description"
                                             formControlName="cost_description">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-lg-2">
                                    <mat-form-field
                                      class="full-width-field">
                                      <input matInput
                                               type="number"  min="0"  min="0"
                                             placeholder="Cost"
                                             class="dollarIcon"
                                             formControlName="cost_value">
                                    </mat-form-field>
                                  </div>
                                  <div
                                    class="mt-2 col-sm-1 expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                    <a *ngIf="i>0" class="remove"
                                       (click)="removeWeapons(i)"
                                       count="expenses_equipments_cost_array_1"
                                       href="javascript:;">
                                      <img class="close-icon"
                                           src="assets/img/aitax-online/close-icon.png"/>
                                    </a>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <a class="additional text-left" *ngIf="weapons.length"
                               (click)="addWeapons()" type="desc"
                               id="expenses_equipments_cost_array"
                               href="javascript:;">
                              <button type="submit" name="forward"
                                      class="btn btn-primary btn-add">
                                <span>Add Additional</span>
                              </button>
                            </a>
                          </div>
                        </div>


                      </div>
                      <div class="form-group">
                        <label class="default-label">Any Emergency Personnel equipment;
                          this can include
                          special lightweight body armor,
                          camel packs for hot environments, magazines, tactical
                          flashlights, tasers, tear gas, med
                          kits, etc?</label>

                        <div class="emergency_equipment_radio_box"
                             formArrayName="emergency_cost">
                          <div *ngFor="let expense of emergencyCost.controls; let i=index">
                            <div [formGroupName]="i">
                              <div class="row w-100">
                                <div class="col-lg-9">
                                  <mat-form-field class="full-width-field">
                                    <input matInput
                                           placeholder="Description"
                                           formControlName="cost_description">
                                  </mat-form-field>
                                </div>
                                <div class="col-lg-2">
                                  <mat-form-field class="full-width-field">
                                    <input matInput
                                             type="number"  min="0"  min="0"
                                           placeholder="Cost"
                                           class="dollarIcon"
                                           formControlName="cost_value">
                                  </mat-form-field>
                                </div>
                                <div
                                  class="mt-2 col-sm-1 expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                  <a *ngIf="i>0" class="remove"
                                     (click)="removeEmergencyCost(i)"
                                     count="expenses_equipments_cost_array_1"
                                     href="javascript:;">
                                    <img class="close-icon"
                                         src="assets/img/aitax-online/close-icon.png"/>
                                  </a>
                                </div>

                              </div>
                            </div>
                          </div>
                          <a class="additional text-left" *ngIf="emergencyCost.length"
                             (click)="addEmergencyCost()" type="desc"
                             id="expenses_equipments_cost_array" href="javascript:;">
                            <button type="submit" name="forward"
                                    class="btn btn-primary btn-add">
                              <span>Add Additional</span>
                            </button>
                          </a>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="default-label">Any off-duty training expenses for
                          ammo, shooting range
                          fees, maybe even setting up
                          your own shooting range?</label>

                        <div class="emergency_equipment_radio_box"
                             formArrayName="training_cost">
                          <div *ngFor="let expense of trainingCost.controls; let i=index">
                            <div [formGroupName]="i">
                              <div class="row w-100">
                                <div class="col-lg-9">
                                  <mat-form-field class="full-width-field">
                                    <input matInput
                                           placeholder="Description"
                                           formControlName="cost_description">
                                  </mat-form-field>
                                </div>
                                <div class="col-lg-2">
                                  <mat-form-field class="full-width-field">
                                    <input matInput
                                             type="number"  min="0"  min="0"
                                           placeholder="Cost"
                                           class="dollarIcon"
                                           formControlName="cost_value">
                                  </mat-form-field>
                                </div>
                                <div
                                  class="mt-2 col-sm-1 expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                  <a *ngIf="i>0" class="remove"
                                     (click)="removeTrainingCost(i)"
                                     count="expenses_equipments_cost_array_1"
                                     href="javascript:;">
                                    <img class="close-icon"
                                         src="assets/img/aitax-online/close-icon.png"/>
                                  </a>
                                </div>

                              </div>
                            </div>
                          </div>
                          <a class="additional text-left" *ngIf="trainingCost.length"
                             (click)="addTrainingCost()" type="desc"
                             id="expenses_equipments_cost_array" href="javascript:;">
                            <button type="submit" name="forward"
                                    class="btn btn-primary btn-add">
                              <span>Add Additional</span>
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="bottom-wizard">
                  <input type="hidden" name="screenCount" id="screenCount" value=""/>
                  <button type="button" name="backward" (click)="back()"
                          class="btn btn-primary backward">
                    <span>Back</span>
                  </button>
                  <button type="submit" name="process"
                          class="btn btn-failure submit">
                    <span>Save</span>
                  </button>
                  <button type="submit" name="forward" class="btn btn-primary ">
                    <span>Next</span>
                  </button>
                  <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                </div>
              </form>

            </div>
            <!-- /Wizard container -->

          </div>
          <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

        </div>
        <!-- /tab content -->
      </div>
      <!-- /container-fluid -->
    </div>
    <!-- /wrapper_in -->
  </div>
  <!-- /main_container -->
</div>
