<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>



                            <form [formGroup]="personalInfo" (ngSubmit)="onSubmit()">

                                <div class="clearfix"></div>


                                <div class="step submit">
                                    <h3 class="main_question">Personal Information</h3>
                                    <h5 class="sub-title-question">Lets start with some basic
                                        information</h5>

                                    <div class="row content-question">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>First Name</mat-label>
                                                    <input matInput formControlName="first_name"
                                                           placeholder="First Name">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>Middle Name</mat-label>
                                                    <input matInput formControlName="middle_name">
                                                </mat-form-field>

                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>Last Name</mat-label>
                                                    <input matInput formControlName="last_name"
                                                           placeholder="Last Name">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>Email</mat-label>
                                                    <input matInput formControlName="email"
                                                           placeholder="Email" autocomplete="email" required>
                                                </mat-form-field>

                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>Phone</mat-label>
                                                    <input matInput maxlength="10" formControlName="phone"
                                                           placeholder="Phone">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <app-autocomplete-component [autocompleteInput]="placeholder"  (setAddress)="getAddress($event)"
                                                                            adressType="geocode"
                                                ></app-autocomplete-component>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>Zip code</mat-label>
                                                    <input matInput formControlName="zip" placeholder="Zip code"
                                                           required>
                                                </mat-form-field>

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="row date-line">
                                                    <div class="d-flex align-items-center">
                                                        <label class="default-label m-0">Date
                                                            of Birth</label>
                                                    </div>
                                                    <div>
                                                        <div class="form-group-select">
                                                            <select formControlName="day"
                                                                    (change)="test()">
                                                                <option value="" selected>DD</option>
                                                                <option *ngFor="let _day of days"
                                                                        value="{{_day}}">
                                                                    {{_day}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="form-group-select">
                                                            <select formControlName="month"
                                                                    class="date-select"
                                                                    (change)="test()">
                                                                <option value="" selected>MM</option>
                                                                <option *ngFor="let _month of month"
                                                                        value="{{_month}}">
                                                                    {{_month}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="form-group-select">
                                                            <select formControlName="year"
                                                                    (change)="test()">
                                                                <option value="" selected>YYYY</option>
                                                                <option *ngFor="let _year of year"
                                                                        value="{{_year}}">
                                                                    {{_year}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>Current Job Title</mat-label>
                                                    <input matInput formControlName="job_title"
                                                           placeholder="Job Title" required>
                                                </mat-form-field>

                                            </div>
                                        </div>


                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>Social Security</mat-label>
                                                    <input matInput formControlName="social_security"
                                                           placeholder="Social Security"
                                                           required>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">

                                        </div>
                                        <div class="col-lg-4">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="checkbox_questions">
                                                <div class="row">
                                                    <div class="col-lg-5 radio-line form-group">
                                                        <mat-radio-group formControlName="citizenship_status"
                                                                         aria-label="Select an option">
                                                            <mat-radio-button
                                                                    type="radio"
                                                                    value="0"
                                                                    id="citizenship_status_uscitizen">US
                                                                Citizen
                                                            </mat-radio-button>
                                                            <mat-radio-button

                                                                    type="radio"
                                                                    value="1" id="citizenship_status_greencard"> Green
                                                                Card Holder
                                                            </mat-radio-button>
                                                            <mat-radio-button
                                                                    type="radio" value="2"
                                                                    id="citizenship_status_visa"> Visa
                                                            </mat-radio-button>
                                                        </mat-radio-group>

                                                    </div>
                                                    <div class="col-lg-3 spouse_card_link"
                                                         *ngIf="personalInfo.get('citizenship_status').value == '2'">
                                                        <mat-form-field class="full-width-field">
                                                            <mat-label>Visa Type</mat-label>
                                                            <input matInput formControlName="visa_type"
                                                                   type="text"
                                                                   value=""
                                                                   placeholder="Visa Type">
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-lg-4"
                                                         *ngIf="personalInfo.get('citizenship_status').value == '2' || personalInfo.get('citizenship_status').value == '1'">
                                                        <div class="form-group form-group-select">
                                                            <div class="styled-select">
                                                                <select formControlName="citizenship_other">
                                                                    <option value="" selected>Country of Primary
                                                                        Citizenship
                                                                    </option>
                                                                    <option *ngFor="let country of otherCitizen"
                                                                            value="{{country}}">{{country}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label">Are You Married ?</label>
                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group formControlName="marital_status"
                                                                     aria-label="Select an option">
                                                        <mat-radio-button
                                                                value="1" id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                value="0" id="r_2">No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group m-0">
                                                <label class="default-label">Are You Active Military With A
                                                    Different Home State Of
                                                    Record?</label>

                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group formControlName="active_military"
                                                                     aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio" [value]="true"
                                                                id="active_militry_no">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio" [value]="false"
                                                                id="active_militry_yes">No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="form-group isActiveMilitaryLink"
                                                         *ngIf="personalInfo.get('active_military').value == true">
                                                        <div class="styled-select">
                                                            <select formControlName="active_military_state">
                                                                <option value="" selected>Military Home State of
                                                                    Record
                                                                </option>
                                                                <option *ngFor="let state of usaStates"
                                                                        value="{{state}}">{{state}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
