<div class="card data-table border-0 p-0 mt-2" style="padding: 15px !important; min-width: 1000px !important;">
  <div class="front-desk-block">
    <div class="row user-info pt-2">
      <div class="col-12">
        <h4 class="my-0 color-green">User List</h4>
      </div>
    </div>
    <hr class="line-bottom">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 edit-block">
            <div class="form-group field option-field mb-2 d-inline-block">
              <ul style="list-style-type:none;">
                <li>Show</li>
                <li>
                  <!-- <select class="custom-select" name="limit" id="limit" > -->
                  <select class="custom-select" name="limit" id="limit" (change)="pageLimit($event.target.value)">
                    <option [value]="10" selected>10</option>
                    <option [value]="20">20</option>
                    <option [value]="30">30</option>
                    <option [value]="40">40</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                  </select>
                </li>
                <li>entries</li>
              </ul>
            </div>
          </div>


        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <ngx-datatable class="bootstrap scroll-hide custom-scroll-x" [rows]="userRows" [columnMode]="'force'"
                           [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true"
                           [externalPaging]="true"
                           [virtualization]="false" [count]="userPage.totalRows" [offset]="userPage.pageNumber"
                           [limit]="userPage.pageSize"
                           (page)="nextPage($event)">
              <ngx-datatable-column name="ID" prop="id" [width]="80">
                <ng-template let-column="column" prop="id" ngx-datatable-header-template>
                  ID
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a>{{ value }}</a>
                </ng-template>
              </ngx-datatable-column>
              <!-- <!-- <ngx-datatable-column name="Name" prop="first_name" [width]="200"></ngx-datatable-column> -->
              -->
              <ngx-datatable-column name="name" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <span style="cursor: pointer" (click)="sort(0)">Name</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.first_name}} {{row.last_name}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="submited_at" [width]="150">
                <ng-template let-column="column" ngx-datatable-header-template>

                  <span style="cursor: pointer" (click)="sort(2)"> Submited at</span>

                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="row.report[0]">{{row.report[0]['updated_at']}}</span>
                  <span *ngIf="row.report.length ==0">No report</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="email" [width]="200">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <span style="cursor: pointer" (click)="sort(1)"> Email</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.email}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="status" [width]="80">
                <ng-template let-column="column" prop="id" ngx-datatable-header-template>
                  Status
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a *ngIf="row.status == 1" href="javascript:void(0)" (click)="changeStatus(row.id, row.status)"><span
                    class="badge badge-success">Active</span></a>
                  <a *ngIf="row.status == 0" href="javascript:void(0)" (click)="changeStatus(row.id, row.status)"><span
                    class="badge badge-secondary">Inactive</span></a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actions" sortable="false" prop="id">
                <ng-template let-column="column" ngx-datatable-header-template>

                  Actions
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a class="edit-hov mx-1"
                     tooltip="Edit" (click)="downloadAiTaxDoc(userFormContent, row)" href="javascript:void(0)"
                     role="button" *ngIf="row.report.length">AITax Online</a>
                  <span class="edit-hov mx-1" *ngIf="!row.report.length">No report</span>
                  <a class="edit-hov mx-1"
                     tooltip="Edit" (click)="openUaserForm(userFormContent, row)" href="javascript:void(0)"
                     role="button"><i class="icon-pencil"></i></a>
                  <a class="remove-hov mx-1"
                     tooltip="Delete" (click)="confirmDel(row)" href="javascript:void(0)" role="button">
                    <span class="icon-trash"></span></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>

      <ng-template #userFormContent let-modal>
        <div class="modal-header">
          <h5 class="modal-title">Save User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-pt-15">
          <form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm(userForm.value)">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group field mb-1"
                     [ngClass]="{'focused': userForm.get('name').value != '' && userForm.get('name').value != null }">
                  <label for="name" class="form-label">Name*</label>
                  <input type="text" class="mb-1" placeholder="Name" formControlName="name">
                  <small style="color: tomato !important;" class="form-text text-muted danger" *ngIf="userForm.get('name').errors?.required &&
                        (userForm.get('name').dirty || userForm.get('name').touched)">Please enter
                    name!
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group field mb-1"
                     [ngClass]="{'focused': userForm.get('email').value != '' && userForm.get('email').value != null }">
                  <label for="email" class="form-label">Email*</label>
                  <input type="text" class="mb-1" placeholder="email" formControlName="email">
                  <small style="color: tomato !important;" class="form-text text-muted danger" *ngIf="userForm.get('email').errors?.required &&
                        (userForm.get('email').dirty || userForm.get('email').touched)">Please enter
                    email!
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group field mb-1"
                     [ngClass]="{'focused': userForm.get('password').value != '' && userForm.get('password').value != null }">
                  <label for="password" class="form-label">Password*</label>
                  <input type="password" class="mb-1" placeholder="Password" formControlName="password">
                  <small style="color: tomato !important;" class="form-text text-muted danger" *ngIf="userForm.get('password').errors?.required &&
                        (userForm.get('password').dirty || userForm.get('password').touched)">Please enter
                    password!
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group field mb-1"
                     [ngClass]="{'focused': userForm.get('confirmedPassword').value != '' && userForm.get('confirmedPassword').value != null }">
                  <label for="confirmedPassword" class="form-label">Confirm Password*</label>
                  <input type="password" class="mb-1" placeholder="Confirm Password"
                         formControlconName="confirmedPassword">
                  <small style="color: tomato !important;" class="form-text text-muted danger" *ngIf="userForm.get('confirmedPassword').errors?.required &&
                        (userForm.get('confirmedPassword').dirty || userForm.get('confirmedPassword').touched)">Please
                    enter
                    confirm password!
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group field mb-1"
                     [ngClass]="{'focused': userForm.get('mobile_phone').value != '' && userForm.get('mobile_phone').value != null }">
                  <label for="mobile_phone" class="form-label">Mobile Phone</label>
                  <input type="text" class="mb-1" placeholder="Movile Phone"
                         formControlName="mobile_phone">
                  <small style="color: tomato !important;" class="form-text text-muted danger" *ngIf="userForm.get('mobile_phone').errors?.required &&
                        (userForm.get('mobile_phone').dirty || userForm.get('mobile_phone').touched)">Please enter
                    phone!
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group field mb-1"
                     [ngClass]="{'focused': userForm.get('address').value != '' && userForm.get('address').value != null }">
                  <label for="address" class="form-label">Address</label>
                  <textarea type="text" class="mb-1" placeholder="Type address here."
                            formControlName="address"></textarea>
                  <small style="color: tomato !important;" class="form-text text-muted danger" *ngIf="userForm.get('address').errors?.required &&
                        (userForm.get('address').dirty || userForm.get('address').touched)">Please enter
                    address!
                  </small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 modal-btn-width text-center">
                <button class="btn btn-success mr-3" type="submit"
                >{{ disableBtn == false ? 'Save User' : 'Please Wait...' }}
                </button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                        (click)="closeModel()">Cancel
                </button>

              </div>
            </div>

          </form>
        </div>
      </ng-template>
