<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="tuitionExpForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="submit step">
                                    <h3 class="mb-4 main_question">Education and Tuition-Related Expenses</h3>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s13">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/378540101"
                                                            webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label">In 2019, were you or anyone to be
                                                    listed on your return
                                                    enrolled in a college or
                                                    university?</label>

                                                <div class="form-group checkbox_questions">
                                                    <!--<input formControlName="se_enrolled_in_college_checkbox"-->
                                                    <!--(change)="toggleDependentsInfo($event)" type="radio"-->
                                                    <!--value="1" class="icheck" id="r_1"><label-->
                                                    <!--for="r_1"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="se_enrolled_in_college_checkbox"-->
                                                    <!--(change)="toggleDependentsInfo($event)" type="radio"-->
                                                    <!--value="0" class="icheck" id="r_2"><label-->
                                                    <!--for="r_2"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="se_enrolled_in_college_checkbox"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleDependentsInfo($event)"
                                                                type="radio"
                                                                [value]="1"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleDependentsInfo($event)"
                                                                type="radio"
                                                                [value]="0" id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                            <div class="se_enrolled_in_college_checkbox_link ">
                                                <div class="form-group"
                                                     *ngIf="tuitionExpForm.get('se_enrolled_in_college_checkbox').value == '1'">
                                                    <label class="default-label">Did you have any college
                                                        tuition or other expenses
                                                        like books, dorm fees, new computer, desk,
                                                        software, or supplies?</label>

                                                    <div class="form-group">
                                                        <div formArrayName="tuition_expenses">
                                                            <div *ngFor="let expense of tutionExpenses.controls; let i=index">
                                                                <div [formGroupName]="i">
                                                                    <div class="input-group se_add_additional_array se_add_additional_array_1">
                                                                        <div class="row w-100">
                                                                            <div class="col-lg-9">
                                                                                <mat-form-field
                                                                                        class="full-width-field">
                                                                                    <input matInput
                                                                                           placeholder="Add description"
                                                                                           formControlName="cost_description"
                                                                                           type="text"
                                                                                           >
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <div class="col-lg-2">
                                                                                <mat-form-field
                                                                                        class="full-width-field">
                                                                                    <input matInput
                                                                                           formControlName="cost_value"
                                                                                            type="number"  min="0"
                                                                                           class="dollarIcon">
                                                                                </mat-form-field>
                                                                            </div>
                                                                            <a *ngIf="i>0" class="remove"
                                                                               count="ve_volunteering_array_1"
                                                                               (click)="removeExpense(i)"
                                                                               href="javascript:;">
                                                                                <img class="close-icon"
                                                                                     src="assets/img/aitax-online/close-icon.png"/>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="additional text-left"
                                                           *ngIf="tutionExpenses.length"
                                                           (click)="addExpense()" type="inputWithCost"
                                                           id="ve_volunteering_array" href="javascript:;">
                                                            <button type="submit" name="forward"
                                                                    class="btn btn-primary btn-add">
                                                                <span>Add Additional</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="default-label">Did you pay any student loan
                                                    interest in 2019?</label>
                                                <div class="form-group checkbox_questions">
                                                    <mat-radio-group
                                                      formControlName="se_load_checkbox"
                                                            aria-label="Select an option">
                                                        <mat-radio-button (change)="toggleLoanInfo($event)"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button (change)="toggleLoanInfo($event)"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div formArrayName="loan_expenses">
                                                  <div *ngFor="let expense of loanExpenses.controls; let i=index">
                                                    <div [formGroupName]="i">
                                                            <div class="input-group se_add_additional_array se_add_additional_array_1">
                                                                <div class="row w-100">
                                                                    <div class="col-lg-9">
                                                                        <!--<input-->
                                                                        <!--type="text"-->
                                                                        <!--placeholder="Add description"-->
                                                                        <!--class="form-control adDes "-->
                                                                        <!--formControlName="cost_description"-->
                                                                        <!--value=""/>-->
                                                                        <mat-form-field
                                                                                class="full-width-field">
                                                                            <input matInput
                                                                                   placeholder="Add description"
                                                                                   formControlName="cost_description"
                                                                                   type="text"
                                                                                  >
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-lg-2">
                                                                        <mat-form-field
                                                                                class="full-width-field">
                                                                            <input matInput
                                                                                   formControlName="cost_value"
                                                                                    type="number"  min="0"

                                                                                   class="dollarIcon">
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <a *ngIf="i>0" class="remove"
                                                                       count="ve_volunteering_array_1"
                                                                       href="javascript:;">
                                                                        <img class="close-icon"
                                                                             src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a  *ngIf="loanExpenses.length" class="additional text-left"
                                                   type="inputWithCost" (click)="createLoanExepense()"
                                                   href="javascript:;">
                                                    <button type="submit" name="forward"
                                                            class="btn btn-primary btn-add">
                                                        <span>Add Additional</span>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
