<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>

                            <form [formGroup]="homeExpForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button" id="dropdownMenuButton" data-display="static" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">Jump to Prior Section</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="mb-4 main_question">Home Expenses</h3>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s16">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/378542498"
                                                            webkitallowfullscreen mozallowfullscreen
                                                            allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label"> Do you Own or Rent?</label>

                                                <div class="form-group checkbox_questions">

                                                    <mat-radio-group
                                                            formControlName="hm_own_rent"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (click)="toggleValidation(1)"
                                                                type="radio"
                                                                value="0"
                                                                id="r_1">Own
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (click)="toggleValidation(0)"
                                                                type="radio"
                                                                value="1" id="r_2"> Rent
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                </div>
                                            </div>

                                            <div class="hm_own_rent_link "
                                                 *ngIf="homeExpForm.get('hm_own_rent').value == true">

                                                <div class="form-group">
                                                    <label class="default-label">Did you have any mortgage
                                                        interest in 2019?
                                                        <br>
                                                        If Yes, please make sure to
                                                        upload your Form 1098-MIS
                                                        or add it to the rental property spreadsheet
                                                    </label>

                                                    <div class="form-group checkbox_questions">
                                                        <mat-radio-group
                                                                formControlName="hm_mortage_interest"
                                                                aria-label="Select an option">
                                                            <mat-radio-button
                                                                    (click)="toggleValidation(2)"
                                                                    type="radio"
                                                                    [value]="1"
                                                                    id="r_3">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button
                                                                    (click)="toggleValidation(1)"
                                                                    type="radio"
                                                                    [value]="0" id="r_4"> No
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>

                                                </div>

                                                <div class="hm_mortage_interest_link"
                                                     *ngIf="homeExpForm.get('hm_mortage_interest').value == true">

                                                    <div class="form-group">
                                                        <label class="default-label">Did you pay any real estate
                                                            taxes in 2019?</label>

                                                        <div class="form-group checkbox_questions mb-3">
                                                            <mat-radio-group
                                                                    formControlName="hm_real_estate_tax_checkbox"
                                                                    aria-label="Select an option">
                                                                <mat-radio-button
                                                                        (click)="toggleValidation(3)"
                                                                        type="radio"
                                                                        [value]="1"
                                                                        id="r_5">Yes
                                                                </mat-radio-button>
                                                                <mat-radio-button
                                                                        (click)="toggleValidation(2)"
                                                                        type="radio"
                                                                        [value]="0" id="r_6"> No
                                                                </mat-radio-button>
                                                            </mat-radio-group>

                                                        </div>

                                                        <div class="hm_real_estate_tax_checkbox_link"
                                                             *ngIf="homeExpForm.get('hm_real_estate_tax_checkbox').value == true">
                                                            <div class="form-group  mb-1">
                                                                <div class="input-group">
                                                                    <div class="row w-100">
                                                                        <div class="col-lg-10">
                                                                            <div class="form-group-select">
                                                                                <span class="input-group-text">Real Estate Taxes</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <mat-form-field
                                                                                    class="full-width-field">
                                                                                <input matInput
                                                                                       formControlName="hm_real_estate_tax"
                                                                                         type="number"  min="0"  min="0"

                                                                                       class="dollarIcon">
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group mb-1">
                                                                <div class="input-group">
                                                                    <div class="row w-100">
                                                                        <div class="col-lg-10">
                                                                            <div class="form-group-select">
                                                                                <span class="input-group-text">Mortgage Insurance</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <mat-form-field
                                                                                    class="full-width-field">
                                                                                <input matInput
                                                                                       formControlName="hm_mortgage_insurance"
                                                                                        type="number"  min="0"

                                                                                       class="dollarIcon">
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="row w-100">
                                                                        <div class="col-lg-10">
                                                                            <div class="form-group-select">
                                                                                <span class="input-group-text">Loan-Mandated Homeowner's Insurance</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <mat-form-field
                                                                                    class="full-width-field">
                                                                                <input matInput
                                                                                       formControlName="hm_loan_mandated_homeowner_ins"
                                                                                        type="number"  min="0"

                                                                                       class="dollarIcon">
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="form-group">
                                                        <label class="default-label"> Did You Have Any Energy
                                                            Efficient Upgrades?</label>

                                                        <div class="form-group checkbox_questions mb-3">

                                                            <mat-radio-group
                                                                    formControlName="hm_energy_efficient_upgrades_radio"
                                                                    aria-label="Select an option">
                                                                <mat-radio-button
                                                                        (change)="toggleTotals($event)"
                                                                        type="radio"
                                                                        [value]="1"
                                                                        id="r_7">Yes
                                                                </mat-radio-button>
                                                                <mat-radio-button
                                                                        (change)="toggleTotals($event)"
                                                                        type="radio"
                                                                        [value]="0" id="r_8"> No
                                                                </mat-radio-button>
                                                            </mat-radio-group>
                                                        </div>

                                                        <div class="hm_energy_efficient_upgrades_radio_box "
                                                             formArrayName="totals"
                                                             *ngIf="homeExpForm.get('hm_energy_efficient_upgrades_radio').value == true">

                                                            <div *ngFor="let expense of totals.controls; let i=index">
                                                                <div [formGroupName]="i">
                                                                    <div class="row">
                                                                        <div class="col-lg-9">
                                                                            <mat-form-field
                                                                                    class="full-width-field">
                                                                                <input matInput
                                                                                       formControlName="cost_description"
                                                                                       type="text"

                                                                                       placeholder="Description">
                                                                            </mat-form-field>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <mat-form-field
                                                                                    class="full-width-field">
                                                                                <input matInput
                                                                                       (change)="calc()"
                                                                                       formControlName="cost_value"
                                                                                        type="number"  min="0"

                                                                                       class="dollarIcon">
                                                                            </mat-form-field>
                                                                        </div>
                                                                        <div
                                                                                class="mt-2 col-lg-1 expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                                                            <a *ngIf="i>0" class="remove"
                                                                               (click)="removeTotals(i)"
                                                                               count="expenses_equipments_cost_array_1"
                                                                               href="javascript:;">
                                                                                <img src="assets/img/aitax-online/close-icon.png"/>
                                                                            </a>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a class="additional text-left"
                                                               *ngIf="totals.length" (click)="addTotals()"
                                                               type="desc"
                                                               id="expenses_equipments_cost_array"
                                                               href="javascript:;">
                                                                <button type="submit" name="forward"
                                                                        class="btn btn-primary btn-add">
                                                                    <span>Add Additional</span>
                                                                </button>
                                                            </a>
                                                            <div><label class="label-sum">Total energy
                                                                efficient upgrades:</label>
                                                                <input readonly
                                                                       type="text"
                                                                       name="cd_frequency_cost_contribution_calculated"
                                                                       class=" cd_frequency_cost_contribution_calculated calc-input"
                                                                       value="$ {{calculation || 0}}">
                                                            </div>
                                                            <!--<div class="form-group">-->
                                                            <!--<small class="help-block" style="color: red; margin-bottom: 2px;" *ngIf="homeExpForm.get('hm_energy_efficient_total_amount').errors?.required && (homeExpForm.get('hm_energy_efficient_total_amount').dirty || homeExpForm.get('hm_energy_efficient_total_amount').touched)">Please enter total amont!</small>-->
                                                            <!--<div class="input-group mb-3">-->
                                                            <!--<div class="input-group-prepend">-->
                                                            <!--<span class="input-group-text">What was the total amount? </span>-->
                                                            <!--</div>-->
                                                            <!--<input  type="number"  min="0" class="dollarIcon form-control " placeholder="0"-->
                                                            <!--formControlName="hm_energy_efficient_total_amount"-->
                                                            <!--/>-->

                                                            <!--</div>-->

                                                            <!--</div>-->
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" />
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button  type="submit" name="forward"
                                            class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per"  type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
