<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>

                            <form [formGroup]="pocketMedicalExpensesForm" (ngSubmit)="onSubmit()">
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="mb-1 main_question">Out of Pocket Medical Expenses</h3>

                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <a (click)="openModal(vedio1);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> How much would say you paid in
                                                    health insurance premiums
                                                    2019
                                                </label><br>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Insurance Premiums</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <!--<input   type="number"  min="0"  min="0" class="dollarIcon form-control"-->
                                                            <!--placeholder="Cost"-->
                                                            <!--formControlName="insurance"-->
                                                            <!--value=""/>-->
                                                            <mat-form-field
                                                                    class="full-width-field">
                                                                <input matInput
                                                                       formControlName="insurance"
                                                                         type="number"  min="0"  min="0"
                                                                       class="dollarIcon">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Insurance Premiums (Non-Working Members)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field
                                                                    class="full-width-field">
                                                                <input matInput
                                                                       formControlName="insurance_non"
                                                                         type="number"  min="0"  min="0"
                                                                       class="dollarIcon">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any out-of-pocket
                                                    expenses for glasses,
                                                    contacts, or eye exams in 2019?

                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="out_of_pocket_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                [value]="1"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                [value]="0" id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box"
                                                     *ngIf="pocketMedicalExpensesForm.get('out_of_pocket_radio').value == 1">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Out-of-pocket Vision</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                             type="number"  min="0"  min="0"
                                                                           formControlName="out_of_pocket"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Out-of-pocket Vision (Non-Working Members)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                           formControlName="out_of_pocket_non"
                                                                             type="number"  min="0"  min="0"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label">Did you have any out-of-pocket expenses for
                                                    prescriptions?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                      formControlName="out_of_pocket_medications_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="true">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="false"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box" *ngIf="pocketMedicalExpensesForm.get('out_of_pocket_medications_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Out-of-pocket Medications</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                             type="number"  min="0"  min="0"
                                                                           formControlName="out_of_pocket_medications"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label">Did you have any out-of-pocket expenses for
                                                    dental check-ups or any visits at all to the dentist in 2019?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                      formControlName="out_of_pocket_dental_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="true">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="false"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box" *ngIf="pocketMedicalExpensesForm.get('out_of_pocket_dental_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Out-of-pocket Dental</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                             type="number"  min="0"  min="0"
                                                                           formControlName="out_of_pocket_dental"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label">Did you have any out-of-pocket expenses for
                                                    any routine checkups, injuries, or surgeries?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                      formControlName="out_of_pocket_other_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="true">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                type="radio"
                                                                [value]="false"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box" *ngIf="pocketMedicalExpensesForm.get('out_of_pocket_other_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Out-of-pocket Other Medical</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                             type="number"  min="0"  min="0"
                                                                           formControlName="out_of_pocket_other"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
<ng-template #vedio1 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554335"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio2 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554357"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
