<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="adoptionExpForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="submit step">
                                    <h3 class="mb-4 main_question">Dependent Care Expenses & Adoption-Related
                                        Costs</h3>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s15" class="https://player.vimeo.com/video/378541822">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/378541822"
                                                            webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label">Did you have any expenses
                                                    associated with day care,
                                                    nannies, or babysitters in 2019, these are only deductible
                                                    if it was necessary to pursue employment period.</label>

                                                <div class="form-group checkbox_questions">

                                                    <mat-radio-group
                                                            formControlName="fm_add_description_checkbox"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleDayCareInfo($event)"
                                                                value="1"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleDayCareInfo($event)"
                                                                value="0" id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row" formArrayName="day_care_expenses">
                                                        <div class="col-lg-12"
                                                             *ngFor="let expense of dayCareExpenses.controls; let i=index">
                                                            <div [formGroupName]="i">
                                                                <div class="input-group">
                                                                    <div class="row w-100">
                                                                        <div class="col-lg-10">
                                                                            <div>
                                                                    <span>
                                                                              <mat-form-field class="full-width-field">
                                                                    <input matInput formControlName="cost_description"
                                                                           type="text"

                                                                           placeholder="Add description">
                                                                </mat-form-field>
                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <mat-form-field
                                                                                    class="full-width-field">
                                                                                <input matInput
                                                                                       formControlName="cost_value"
                                                                                         type="number"  min="0"  min="0"

                                                                                       class="dollarIcon">
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeDayCareExpense(i)"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>

                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <a class="additional text-left"
                                                               *ngIf="dayCareExpenses.length"
                                                               (click)="addDayCareExp()" type="inputWithCost" href="javascript:;">
                                                                <button type="submit" name="forward"
                                                                        class="btn btn-primary btn-add">
                                                                    <span>Add Additional</span>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fm_adoption_cost_checkbox_link ">
                                                    <div class="form-group">
                                                        <h5 class="default-label">Were there any
                                                            adoptions in 2019?</h5>
                                                        <label class="default-label">If so, please enter fees or
                                                            expenses related to
                                                            the adoption. </label>
                                                        <div class="form-group checkbox_questions">
                                                            <!--<input (change)="toggleAddAdoptionsExp($event)"-->
                                                            <!--formControlName="fm_add_adoptions_checkbox"-->
                                                            <!--type="radio"-->
                                                            <!--value="1" class="icheck" id="r_5"><label-->
                                                            <!--for="r_5"></label><span> Yes</span>-->
                                                            <!--&nbsp;-->
                                                            <!--<input (change)="toggleAddAdoptionsExp($event)"-->
                                                            <!--formControlName="fm_add_adoptions_checkbox"-->
                                                            <!--type="radio"-->
                                                            <!--value="0"-->
                                                            <!--class="icheck " id="r_6"><label-->
                                                            <!--for="r_6"></label><span> No</span>-->
                                                            <mat-radio-group
                                                                    formControlName="fm_add_adoptions_checkbox"
                                                                    aria-label="Select an option">
                                                                <mat-radio-button
                                                                        (change)="toggleAddAdoptionsExp($event)"
                                                                        value="1"
                                                                        id="r_5">Yes
                                                                </mat-radio-button>
                                                                <mat-radio-button
                                                                        (change)="toggleAddAdoptionsExp($event)"
                                                                        value="0" id="r_6"> No
                                                                </mat-radio-button>
                                                            </mat-radio-group>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row w-100"
                                                             formArrayName="add_adoptions_expenses">
                                                            <div class="col-lg-12"
                                                                 *ngFor="let expense of addAdoptionsExpenses.controls; let i=index">
                                                                <div [formGroupName]="i">
                                                                    <div class="input-group">
                                                                        <div class="row w-100">
                                                                            <div class="col-lg-10">
                                                                    <span>
                                                                            <mat-form-field class="full-width-field">
                                                                    <input matInput formControlName="cost_description"
                                                                           type="text"

                                                                           placeholder="Add description">
                                                                </mat-form-field>
                                                                    </span>

                                                                            </div>
                                                                            <div class="col-lg-2">
                                                                                <mat-form-field
                                                                                        class="full-width-field">
                                                                                    <input matInput
                                                                                           formControlName="cost_value"
                                                                                             type="number"  min="0"  min="0"

                                                                                           class="dollarIcon">
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                        <a *ngIf="i>0" class="remove"
                                                                           (click)="removeAddAdoptionsExp(i)"
                                                                           count="se_load_add_additional_array_1"
                                                                           href="javascript:;">
                                                                            <img src="assets/img/aitax-online/close-icon.png"/>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <a class="additional text-left"
                                                                   *ngIf="addAdoptionsExpenses.length"
                                                                   (click)="addAddAdoptionsExp()"
                                                                   type="inputWithCost"
                                                                   id="ve_volunteering_array"
                                                                   href="javascript:;">
                                                                    <button type="submit" name="forward"
                                                                            class="btn btn-primary btn-add">
                                                                        <span>Add Additional</span>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <!--<div class="form-group">-->
                                            <!--<label>The next major topic has to do with your family. Did you-->
                                            <!--have any new dependents in the household-->
                                            <!--in 2019?</label>-->

                                            <!--<div class="form-group checkbox_questions">-->
                                            <!--<input (change)="toggleAdoptionInfo($event)"-->
                                            <!--formControlName="fm_adoption_cost_checkbox"-->
                                            <!--type="radio"-->
                                            <!--value="1" class="icheck" id="r_3"><label-->
                                            <!--for="r_3"></label><span> Yes</span>-->
                                            <!--&nbsp;-->
                                            <!--<input (change)="toggleAdoptionInfo($event)"-->
                                            <!--formControlName="fm_adoption_cost_checkbox"-->
                                            <!--type="radio"-->
                                            <!--value="0"-->
                                            <!--class="icheck" id="r_4"><label-->
                                            <!--for="r_4"></label><span> No</span>-->
                                            <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="fm_add_description_checkbox_link ">-->
                                            <!--<div class="form-group">-->
                                            <!--<div class="row pLR" formArrayName="adoption_expenses">-->
                                            <!--<div *ngFor="let expense of adoptionExpenses.controls; let i=index">-->
                                            <!--<div [formGroupName]="i">-->
                                            <!--<div class="input-group mb-3">-->
                                            <!--<div class="input-group-prepend">-->
                                            <!--<span class="input-group-text"><input-->
                                            <!--type="text"-->
                                            <!--placeholder="Add description"-->
                                            <!--class="form-control adDes "-->
                                            <!--formControlName="cost_description"-->
                                            <!--value=""/></span>-->
                                            <!--<small class="help-block"-->
                                            <!--style="color: red; margin-bottom: 2px;position: absolute;bottom: -15px;"-->
                                            <!--*ngIf="expense.get('cost_description').errors?.required && (expense.get('cost_description').dirty || expense.get('cost_description').touched)">-->
                                            <!--Please enter description!-->
                                            <!--</small>-->
                                            <!--</div>-->
                                            <!--<input type="text"-->
                                            <!--class="dollarIcon form-control "-->
                                            <!--placeholder="0"-->
                                            <!--formControlName="cost_value"-->
                                            <!--value=""/>-->
                                            <!--<a *ngIf="i>0"-->
                                            <!--(click)="removeAdoptionExpense(i)"-->
                                            <!--class="remove"-->
                                            <!--count="fm_add_description_array_1"-->
                                            <!--href="javascript:;">-->
                                            <!--<img src="assets/img/aitax-online/ic_cross.png"/></a>-->
                                            <!--<small class="help-block"-->
                                            <!--style="color: red; margin-bottom: 2px;position: absolute;bottom: -15px;right: 43px;"-->
                                            <!--*ngIf="expense.get('cost_value').errors?.required && (expense.get('cost_value').dirty || expense.get('cost_value').touched)">-->
                                            <!--Please enter value!-->
                                            <!--</small>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--<a class="additional" *ngIf="adoptionExpenses.length"-->
                                            <!--(click)="addAdoptionExpense()" type="inputWithCost"-->
                                            <!--id="ve_volunteering_array" href="javascript:;">-->
                                            <!--<img width="120" src="assets/img/aitax-online/add.png"/>-->
                                            <!--</a>-->
                                            <!--</div>-->

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
