<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="workToolCellularForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Work Tools & Misc</h5>
                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <a (click)="openModal(vedio1);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> What is your monthly cellular
                                                    telephone bill?
                                                </label><br>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Monthly Cell Phone Bill </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field>
                                                                <input matInput
                                                                       formControlName="ets_Monthly_Cell_Phone_Bill"
                                                                        type="number"  min="0"
                                                                       class="dollarIcon">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="isMarried" class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Monthly Cell Phone Bill (Spouse)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field>
                                                                <input matInput
                                                                       formControlName="ets_Spouse_Monthly_Cell_Phone_Bill"
                                                                        type="number"  min="0"

                                                                       class="dollarIcon">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a (click)="openModal(vedio2);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any expenses
                                                    associated with any networking
                                                    events or conferences in 2019?

                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="ets_Networking_Expenses_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                id="r_1"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                id="r_2"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ets_Networking_Expenses_radio_box"
                                                     *ngIf="workToolCellularForm.get('ets_Networking_Expenses_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Networking Expenses </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                           formControlName="ets_Networking_Expenses"
                                                                            type="number"  min="0"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="isMarried" class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Networking Expenses (Spouse) </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                           formControlName="ets_spouse_Networking_Expenses"
                                                                            type="number"  min="0"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <a (click)="openModal(vedio3);" href="javascript:void(0);"
                                                   class="video_modal"
                                                   title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any continuing
                                                    education, training, or
                                                    certification expenses in 2019?
                                                </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="ets_education_expenses_description_checkbox"-->
                                                    <!--type="radio" (click)="toggleExpInfo($event)"-->
                                                    <!--[value]="true" value="true" class="icheck " id="r_3"><label-->
                                                    <!--for="r_3"></label><span>   Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="ets_education_expenses_description_checkbox"-->
                                                    <!--type="radio"-->
                                                    <!--[value]="false" value="false"-->
                                                    <!--(click)="toggleExpInfo($event)"-->
                                                    <!--class="icheck " id="r_4"><label-->
                                                    <!--for="r_4"></label><span>   No</span>-->
                                                    <mat-radio-group
                                                            formControlName="ets_education_expenses_description_checkbox"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleExpInfo($event)"
                                                                id="r_3"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleExpInfo($event)"
                                                                id="r_4"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="et_office_equipment_description_radio_box"
                                                     formArrayName="certification_expenses">
                                                    <div *ngFor="let expense of expenses.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Description</mat-label>
                                                                        <input matInput
                                                                               formControlName="cost_description"
                                                                               placeholder="Description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="cost_value"
                                                                                type="number"  min="0"
                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="et_office_equipment_cost_array et_office_equipment_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeExpense(i)"
                                                                       count="et_office_equipment_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left" *ngIf="expenses.length"
                                                       (click)="addExpense()" type="desc"
                                                       id="et_office_equipment_cost_array" href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a
                                                        class="video_modal"
                                                        title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label">How much did you pay each month for your
                                                    home internet service in 2019?</label>
                                                <div class="ets_Networking_Expenses_radio_box">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Monthly Internet Bill</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                           formControlName="internet_pay"
                                                                            type="number"  min="0"
                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
<ng-template #vedio1 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554554"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio2 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554693"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
<ng-template #vedio3 let-modal>
    <div class="modal-header">
        <!-- <h5 class="modal-title">Employer's Information</h5> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <iframe src="https://player.vimeo.com/video/380554726"></iframe>
    <!-- <button class="btn btn-primary add-btn w-auto"   (click)="openModal(content);">Add Employer Information</button> -->

</ng-template>
