<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">

                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="vehicleMaintExpForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="submit step">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Vehicle Insurance</h5>


                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label"> On average, about how much did you
                                                    spend on gas each
                                                    week? </label>
                                                <br>

                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Weekly Estimated Total </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput  type="number"  min="0"
                                                                       class="dollarIcon"
                                                                       formControlName="eve_weekly_estimated_total">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3" *ngIf="isMarried">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Spouse's Weekly Estimated Total</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput  type="number"  min="0"
                                                                       class="dollarIcon"
                                                                       formControlName="eve_spouse_weekly_estimated_total">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="default-label"> About how many times would you say
                                                    you change your
                                                    oil
                                                    each year? And what’s the average cost
                                                    per change for you? </label>


                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p class="default-label">Primary</p>
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group-select">
                                                                            <select formControlName="eve_no_Oil_Changes">
                                                                                <option value="1" selected>01
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-8">
                                                                        <mat-form-field
                                                                                class="full-width-field">
                                                                            <input matInput  type="number"  min="0"
                                                                                   class="dollarIcon"
                                                                                   formControlName="eve_Cost_Per_Change">
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div *ngIf="isMarried">
                                                                    <p class="default-label">Spouse</p>
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <!--<input  type="number"  min="0" class="form-control"-->
                                                                            <!--placeholder="# Of Oil Changes"-->
                                                                            <!--formControlName="eve_spouse_no_Oil_Changes"-->
                                                                            <!--value=""/>-->
                                                                            <div class="form-group-select">
                                                                                <select formControlName="eve_spouse_no_Oil_Changes">
                                                                                    <option value="1" selected>01
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-8">
                                                                            <!--<input  type="number"  min="0" class="form-control"-->
                                                                            <!--placeholder="Cost Per Change"-->
                                                                            <!--formControlName="eve_spouse_Cost_Per_Change"-->
                                                                            <!--value=""/>-->
                                                                            <mat-form-field
                                                                                    class="full-width-field">
                                                                                <input matInput  type="number"  min="0"
                                                                                       class="dollarIcon"
                                                                                       formControlName="eve_spouse_Cost_Per_Change">
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--<input  type="number"  min="0" class="form-control"-->
                                                            <!--placeholder="Cost Per Change"-->
                                                            <!--formControlName="eve_Cost_Per_Change"-->
                                                            <!--value=""/>-->
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-6">
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="form-group">
                                                <label class="default-label"> Did you have any tire changes or
                                                    brakes replaced in
                                                    2019? If so, what was the total
                                                    cost? </label>
                                                <div class="form-group checkbox_questions mb-3">

                                                    <mat-radio-group
                                                            formControlName="eve_Total_Tire_Costs_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                [value]="true"
                                                                type="radio"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                [value]="false"
                                                                type="radio"
                                                                id="r_2"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="eve_Total_Tire_Costs_radio_box"
                                                     *ngIf="vehicleMaintExpForm.get('eve_Total_Tire_Costs_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Total Tire or Brake Costs</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field class="full-width-field">
                                                                    <input matInput  type="number"  min="0"
                                                                           class="dollarIcon"
                                                                           formControlName="eve_Total_Tire_Costs">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="input-group mb-3"
                                                         *ngIf="isMarried">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Total Tire or Brake Costs (Spouse)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field class="full-width-field">
                                                                    <input matInput  type="number"  min="0"
                                                                           class="dollarIcon"
                                                                           formControlName="eve_spouse_Total_Tire_Costs">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="default-label"> Did you have any other repairs or
                                                    maintenance costs
                                                    associated with your work vehicle in
                                                    2019? </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="eve_Total_Repairs_Cost_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                [value]="true"
                                                                type="radio"
                                                                id="r_3">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                [value]="false"
                                                                type="radio"
                                                                id="r_4"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="eve_Total_Repairs_Cost_radio_box"
                                                     *ngIf="vehicleMaintExpForm.get('eve_Total_Repairs_Cost_radio').value == true">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Total Repairs or Maintenance</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field class="full-width-field">
                                                                    <input matInput  type="number"  min="0"
                                                                           class="dollarIcon"
                                                                           formControlName="eve_Total_Repairs_Cost">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="input-group mb-3"
                                                         *ngIf="isMarried">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Total Repairs or Maintenance (Spouse)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field class="full-width-field">
                                                                    <input matInput  type="number"  min="0"
                                                                           class="dollarIcon"
                                                                           formControlName="eve_spouse_Total_Repairs_Cost">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->

                        <!-- /row -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
