<!--<input class="input form-control"-->
       <!--type="text"-->
       <!--[(ngModel)]="autocompleteInput"-->
       <!--#addresstext style="" placeholder="{{placeholder}}" required (change)="updateModel()"-->
<!--&gt;-->
<mat-form-field class="full-width-field">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="autocompleteInput"
           #addresstext style="" placeholder="{{placeholder}}" required (change)="updateModel()">
</mat-form-field>