.input-group-prepend{
  width: 60% !important;
  position: relative;
}
.input-group-prepend + input {
  width: 40% !important;
}
div.row.pLR>.form-group_item{
  width: 80%;
}
a.remove{
  position: absolute;
  right: -3rem;
  top: -2px;
}
