<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">

                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="vehicleExpForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="submit step">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Vehicle Expenses</h5>
                                    <div class="row content-questions">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div id="s19" class="https://player.vimeo.com/video/380554312">
                                                    <iframe class="ifV"
                                                            src="https://player.vimeo.com/video/380554312"
                                                            webkitallowfullscreen
                                                            mozallowfullscreen allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">

                                            <div class="form-group">
                                                <label class="default-label">Do you own or lease?</label>
                                                <div class="form-group checkbox_questions">
                                                    <!--<input formControlName="own_lease"-->
                                                    <!--type="radio"-->
                                                    <!--[value]="1" class="icheck " id="r_1"><label-->
                                                    <!--for="r_1"></label><span> Own</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="own_lease"-->
                                                    <!--type="radio"-->
                                                    <!--[value]="0"-->
                                                    <!--class="icheck " id="r_2"><label-->
                                                    <!--for="r_2"></label><span> Lease</span>-->
                                                    <mat-radio-group
                                                            formControlName="own_lease"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                id="r_1"
                                                                type="radio"
                                                                [value]="1">Own
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                id="r_2"
                                                                type="radio"
                                                                [value]="0"> Lease
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                            </div>
                                            <div class="form-group" *ngIf="isMarried">
                                                <label class="default-label">Does your spouse own or
                                                    lease?</label>
                                                <div class="form-group checkbox_questions">
                                                    <!--<input formControlName="spouse_own_lease"-->
                                                    <!--type="radio"-->
                                                    <!--[value]="1" class="icheck " id="r_4"><label-->
                                                    <!--for="r_4"></label><span> Own</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="spouse_own_lease"-->
                                                    <!--type="radio"-->
                                                    <!--[value]="0"-->
                                                    <!--class="icheck " id="r_5"><label-->
                                                    <!--for="r_5"></label><span> Lease</span>-->
                                                    <mat-radio-group
                                                            formControlName="spouse_own_lease"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                id="r_4"
                                                                type="radio"
                                                                [value]="1">Own
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                id="r_5"
                                                                type="radio"
                                                                [value]="0"> Lease
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="default-label"> What is the make, model, and
                                                    purchase price or value
                                                    at-acquisition of your primary work vehicle
                                                    in 2019? </label>

                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Make (Ford, Nissan, etc.) </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput formControlName="ve_make">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Model</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput formControlName="ve_model">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Price or Value-at-Acquisition</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput  type="number"  min="0"
                                                                       class="dollarIcon"
                                                                       formControlName="ve_price">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group"
                                                 *ngIf="isMarried">
                                                <label class="default-label"> If you have a spouse that works,
                                                    please enter your
                                                    spouse's vehicle information as
                                                    well? </label>

                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Make (Ford, Nissan, etc.) </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput
                                                                       formControlName="ve_spouse_make">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Model</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput
                                                                       formControlName="ve_spouse_model">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Price or Value-at-Acquisition</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput
                                                                        type="number"  min="0"
                                                                       class="dollarIcon"
                                                                       formControlName="ve_spouse_price">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
