// Variable overrides
$gray-color: #666666;
$dark-color: #111111;
$second-gray-color: #CACACA;
$dark-orange-color: #F1563B;
$orange-color: #FE765E;
$dark-blue-color: #094DBD;
$blue-color: #2778FF;
$light-blue-color: #E1ECFF;
$white-color: #FFFFFF;

$extra-big-size-font: 40px;
$big-size-font: 28px;
$default-size-font: 15px;
$second-default-size-font: 14px;
$third-default-size-font: 16px;
$small-size-font: 12px;