// If you want to override variables do it here
@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";
// If you want to add something do it here
@import "custom";
@import '~ngx-toastr/toastr-bs4-alert';
@import '../assets/css/icon_fonts/css/all_icons_min.css';
@import '../assets/css/icon_fonts/css/fontello-codes.css';
@import '../assets/css/skins/futurico/futurico.css';
@import '../assets/css/skins/flat/_all.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  background-color: $white-color;
  * {
    font-family: 'Poppins', sans-serif !important;
  }
}

.header-fixed .app-header {
  border-bottom: 0;
  padding: 15px 30px;
  height: auto;
  .navbar-toggler {
    display: none !important;
  }
  .nav-item .nav-link > .img-avatar {
    height: 32px;
    border-radius: 0;
  }
}

.app-body {
  background-color: $white-color;
}

.tab-pane.fade.show.active {
  padding: 0;
}

#middle-wizard:before {
  display: none;
}

.default-label {
  font-size: $default-size-font;
  font-weight: normal;
  color: $gray-color;
  margin-bottom: 15px;
}

h5.default-label {
  font-weight: 600;
  margin: 0;
}

.dollarIcon {
  background: url("../assets/img/aitax-online/dol-icon.png") no-repeat 15px 10px !important;
  padding-left: 30px !important;
}

.dollar-input.mat-form-field-appearance-legacy .mat-form-field-label {
  left: 30px;
}

.dollar-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  left: 15px;
}

.mat-radio-button {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

form {
  margin-top: 60px;
}

.mt-40 {
  margin-top: 40px;
}

.date-line {
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.bold-text {
  font-weight: bold;
}

.main-header-title {
  text-align: center;
  h1 {
    font-size: $extra-big-size-font;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: $dark-color;
    margin: 0;
  }
  span {
    font-size: $third-default-size-font;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: $gray-color;
  }
}

.main {
  background-color: $white-color;
  padding: 0 30px;
  .tab-content {
    border: 0;
  }
  .container-fluid {
    padding: 0;
  }
  #main_container {
    max-width: 1160px;
    margin: 80px auto 0;
    width: 100%;
    box-sizing: border-box;
  }

  .main_question {
    font-size: $big-size-font;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $gray-color;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .sub-title-question {
    font-size: $third-default-size-font;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $gray-color;
    margin-bottom: 0;
  }

  .content-question {
    margin-top: 60px;
  }
}

.form-group {
  margin-bottom: 40px;
}

//material
.full-width-field {
  width: 100%;
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  margin: 0;
  background-color: $white-color;
  width: auto !important;
  left: 15px;
  padding: 0 5px;
  font-size: $default-size-font;
  font-weight: 600;
  color: $dark-color;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  font-size: 12px;
  font-weight: 600;
  color: $blue-color;
}

.mat-form-field-infix {
  border: 0;
  .mat-form-field-label-wrapper {
    position: static;
  }
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  color: $blue-color;
}

input.mat-input-element {
  padding: 0 15px;
  height: 45px;
  border-radius: 7px;
  border: solid 2px $light-blue-color;
  font-size: $default-size-font;
  font-weight: 600;
  color: $dark-color;
  &:focus {
    box-shadow: 0 3px 6px 0 rgba(39, 120, 255, 0.5);
    border: solid 2px $blue-color;
    color: $blue-color;
  }
}

//checkbox
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: $blue-color;
}

.mat-checkbox-label {
  font-size: $default-size-font;
  font-weight: normal;
  color: $gray-color;
}

//stepper
.mat-stepper-horizontal {
  .mat-step-header .mat-step-label, .mat-step-header .mat-step-optional {
    display: none;
  }

  .mat-stepper-horizontal-line {
    border: 0;
    height: 5px;
    background-color: $light-blue-color;
  }
  .mat-horizontal-stepper-header {
    padding: 0;
    height: auto;
  }
  .mat-step-header .mat-step-icon.mat-step-icon-selected, .mat-step-header .mat-step-icon.mat-step-icon-state-edit {
    background-color: $dark-orange-color;
    color: $white-color;
  }
  .mat-step-header .mat-step-icon.mat-step-icon-state-edit {
    position: relative;
    .mat-step-icon-content {
      display: none;
    }
    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: url("../assets/img/aitax-online/check-mark.png");
    }
  }
  .mat-step-header .mat-step-icon {
    background-color: $light-blue-color;
    margin: 0;
    color: $blue-color;
    font-weight: 600;
  }
}

//radio
.radio-line {
  margin-top: 15px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $blue-color;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $light-blue-color
}

.mat-checkbox-layout {
  .mat-checkbox-inner-container {
    width: 26px;
    height: 26px;

    .mat-checkbox-frame {
      box-shadow: 0 3px 6px 0 rgba(39, 120, 255, 0.1);
      border: solid 2px $light-blue-color;
      background-color: $light-blue-color;
      border-radius: 4px;
    }
  }
}

.mat-checkbox-checked .mat-checkbox-checkmark {
  width: calc(100% - 3px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mat-checkbox-checkmark-path {
  stroke: $blue-color !important;
}

.mat-radio-label {
  .mat-radio-container {
    width: 26px;
    height: 26px;
    .mat-radio-outer-circle {
      background-color: $light-blue-color;
      height: 26px;
      width: 26px;
      border: 0;
    }
    .mat-radio-inner-circle {
      height: 26px;
      width: 26px;
    }
  }

}

//select
.form-group-select {
  padding: .4375em 0;
}

.add-text {
  font-size: $default-size-font;
  color: $gray-color;
  font-weight: bold;
}

.label-sum {
  font-size: $default-size-font;
  font-weight: 600;
  color: $dark-color;
  text-transform: uppercase;
}

.input-group-text {
  height: 45px;
  border-radius: 7px;
  border: solid 2px $light-blue-color;
  background-color: $light-blue-color;
  font-size: 15px;
  font-weight: 600;
  color: $dark-color;
}

.calc-input {
  border-radius: 4px;
  border: solid 1px $light-blue-color;
  background-color: $light-blue-color;
  font-size: $default-size-font;
  font-weight: 600;
  color: $blue-color;
  //max-width: 65px;
}

select {
  font-size: $default-size-font;
  font-weight: 600;
  color: $blue-color;
  padding: 0 0 0 15px;
  height: 45px;
  border-radius: 7px;
  border: solid 2px $light-blue-color;
  margin: 0;
  width: 100%;
  &:focus {
    box-shadow: 0 3px 6px 0 rgba(39, 120, 255, 0.5);
    border: solid 2px $blue-color;
    color: $blue-color;
  }
}

//buttons
.login-page, .register-page, .forgot-page {
  .input-group {
    flex-wrap: nowrap;
  }

  .input-group-text {
    border-radius: 7px 0 0 7px;
  }
  input.mat-input-element {
    border-radius: 0 7px 7px 0;
    margin: 0;
  }
}

.watch-video-button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: $blue-color;
  font-size: $default-size-font;
  font-weight: 600;
  color: $white-color;
  text-transform: uppercase;
  border: 0;
  width: max-content;
  &:hover {
    background-color: $dark-blue-color;
    box-shadow: 0 3px 6px 0 rgba(9, 77, 189, 0.5);
  }
  img {
    max-width: 13px;
    display: block;
    margin-right: 5px;
  }
}

.video_modal {
  display: inline-block;
}

#bottom-wizard, .row .additional {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  .btn {
    border: none;
    color: $white-color;
    text-transform: uppercase;
    font-size: $default-size-font;
    font-weight: 600;
    min-width: 160px;
    width: auto;
    height: 45px;
    border-radius: 7px;
    span {
      position: relative;
      &:before {
        top: 50%;
        right: -20px;
        position: absolute;
        height: 15px;
        transform: translateY(-50%);
        content: url("../assets/img/aitax-online/chevron.png");
      }
    }
    &:disabled {
      background-color: $second-gray-color;
      &:hover {
        background-color: $second-gray-color;
        box-shadow: none;
      }
    }
  }

  .submit {
    background-color: $orange-color;
    margin: 0 30px;
    span {
      &:before {
        top: 50%;
        height: auto;
        right: unset;
        left: -20px;
        content: url("../assets/img/aitax-online/check-mark.png");
      }
    }
    &:hover {
      box-shadow: 0 3px 6px 0 rgba(252, 125, 74, 0.5);
      background-color: $dark-orange-color;
    }
  }
  .btn-primary {
    background-color: $blue-color;
    span {
      &:before {
        transform: translateY(-50%) scale(-1, 1);
      }
    }
    &:hover {
      background-color: $dark-blue-color;
      box-shadow: 0 3px 6px 0 rgba(9, 77, 189, 0.5);
    }
  }
  .btn-add {
    max-width: 250px;
    background-color: $blue-color;
    width: 100%;
    &:hover {
      background-color: $dark-blue-color;
      box-shadow: 0 3px 6px 0 rgba(9, 77, 189, 0.5);
    }
    span {
      &:before {
        right: unset;
        left: -20px;
        font-family: 'Poppins', sans-serif !important;
        content: "+";
      }
    }
  }
  .btn.backward {
    background-color: $gray-color;
    span {
      &:before {
        right: unset;
        left: -20px;
        transform: translateY(-50%) scale(1, -1);
      }
    }
    &:hover {
      background-color: $dark-color;
      box-shadow: 0 3px 6px 0 rgba(17, 17, 17, 0.5);
    }
  }
}

//additional
.additional-wrapper {
  border-radius: 7px;
  border: solid 2px $light-blue-color;
  padding: 40px 25px;
  position: relative;
  margin-bottom: 40px;
}

.additional-title {
  font-size: $default-size-font;
  font-weight: bold;
  color: $dark-color;
  position: absolute;
  top: -10px;
  padding: 0 10px;
  background-color: $white-color;
  width: auto;
  left: 25px;
  text-transform: uppercase;
}

//foter
body {
  .app-footer {
    justify-content: center;
    background-color: rgb(225 236 255 / 0.5);
    border: 0;
    flex: 0 0 61px;
    span {
      font-size: $default-size-font;
      font-weight: 600;
      color: $dark-blue-color;
    }
  }
}

@media screen and (max-width: 991px) {
  .main {
    padding: 0 15px;
  }

  .date-line {
    flex-direction: column;
  }
  .mat-radio-group {
    display: flex;
    flex-direction: column;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .main-header-title {
    order: 3;
    width: 100%;
    margin-top: 20px;
  }
  .header-fixed .app-header {
    padding: 15px;
    position: static;
  }
  .app-header .navbar-brand {
    position: static;
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  #bottom-wizard .btn {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .main-header-title h1 {
    font-size: $big-size-font;
  }
}