<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="businessExpForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="1"-->
                                <!--data-toggle="dropdown" aria-expanded="0">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="mb-4 main_question">Employee Business Expenses </h3>
                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <a
                                                        class="video_modal"
                                                        title="Video title">
                                                    <button type="button" class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"/>
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any work-related
                                                    parking fees or parking
                                                    garage costs in 2019? </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="ebe_total_parking_fees_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                id="r_1"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                id="r_2"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ebe_total_parking_fees_radio_box"
                                                     *ngIf="businessExpForm.get('ebe_total_parking_fees_radio').value == 1">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Total Parking Fees </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                           formControlName="ebe_total_parking_fees"
                                                                             type="number"  min="0"  min="0"

                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a
                                                        class="video_modal"
                                                        title="Video title">
                                                    <button type="button" class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any work-related
                                                    Tollway charges or Toll
                                                    Tag costs in 2019? </label>

                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="ebe_tollway_costs_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                id="r_3"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                id="r_4"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ebe_tollway_costs_radio_box"
                                                     *ngIf="businessExpForm.get('ebe_tollway_costs_radio').value == 1">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Tollway or Toll Tag Costs</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field
                                                                        class="full-width-field">
                                                                    <input matInput
                                                                           formControlName="ebe_tollway_costs"
                                                                             type="number"  min="0"  min="0"

                                                                           class="dollarIcon">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a
                                                        class="video_modal"
                                                        title="Video title">
                                                    <button type="button" class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any local
                                                    transportation expenses, such as
                                                    Uber, Lyft, Metro Pass, Taxis, Subways
                                                    in 2019? </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="ebe_total_local_transportation_radio"-->
                                                    <!--type="radio"-->
                                                    <!--(click)="toggleLocalTransportation($event)"-->
                                                    <!--[value]="1" value="1" class="icheck" id="r_5"><label-->
                                                    <!--for="r_5"></label><span> Yes</span>-->
                                                    <!--<input formControlName="ebe_total_local_transportation_radio"-->
                                                    <!--type="radio"-->
                                                    <!--(click)="toggleLocalTransportation($event)"-->
                                                    <!--[value]="0" value="0"-->
                                                    <!--class="icheck" id="r_6"><label-->
                                                    <!--for="r_6"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="ebe_total_local_transportation_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleLocalTransportation($event)"
                                                                id="r_5"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleLocalTransportation($event)"
                                                                id="r_6"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="ebe_total_local_transportation_radio_box"
                                                     *ngIf="businessExpForm.get('ebe_total_local_transportation_radio').value == 1"
                                                     formArrayName="ebe_total_local_transportation">
                                                    <!--<small class="help-block"-->
                                                    <!--style="color: red; margin-bottom: 2px;"-->
                                                    <!--*ngIf="businessExpForm.get('ebe_total_local_transportation').errors?.required && (businessExpForm.get('ebe_total_local_transportation').dirty || businessExpForm.get('ebe_total_local_transportation').touched)">-->
                                                    <!--Please enter value!-->
                                                    <!--</small>-->
                                                    <div *ngFor="let expense of localTransportation.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Description</mat-label>
                                                                        <input matInput
                                                                               formControlName="cost_description"
                                                                               placeholder="Description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="cost_value"
                                                                                 type="number"  min="0"  min="0"

                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeLocalTransportation(i)"
                                                                       count="expenses_equipments_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left"
                                                       *ngIf="localTransportation.length"
                                                       (click)="addLocalTransportation()" type="desc"
                                                       href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>
                                                </div>


                                            </div>

                                            <div class="form-group">
                                                <a
                                                        class="video_modal"
                                                        title="Video title">
                                                    <button type="button"  class="watch-video-button">
                                                        <img src="assets/img/aitax-online/play-video-icon.png"
                                                        />
                                                        Watch Video
                                                    </button>
                                                </a>
                                                <label class="default-label"> Did you have any work-related Air
                                                    Travel, Hotels, or
                                                    Lodging expenses in 2019? </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="ebe_total_travel_costs_radio"-->
                                                    <!--type="radio" (click)="toggleTravel($event)"-->
                                                    <!--value="1" class="icheck " id="r_7"><label-->
                                                    <!--for="r_7"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="ebe_total_travel_costs_radio"-->
                                                    <!--type="radio" (click)="toggleTravel($event)"-->
                                                    <!--value="0"-->
                                                    <!--class="icheck " id="r_8"><label-->
                                                    <!--for="r_8"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="ebe_total_travel_costs_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleTravel($event)"
                                                                id="r_7"

                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleTravel($event)"
                                                                id="r_8"

                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ebe_total_travel_costs_radio_box"
                                                     formArrayName="ebe_total_travel_costs"
                                                     *ngIf="businessExpForm.get('ebe_total_travel_costs_radio').value == 1">
                                                    <label class="default-label">This may have been related to a
                                                        conference that you
                                                        attended or an out-of-town business meeting or
                                                        temporary job site</label>
                                                    <!--<small class="help-block"-->
                                                    <!--style="color: red; margin-bottom: 2px;"-->
                                                    <!--*ngIf="businessExpForm.get('ebe_total_travel_costs_radio').errors?.required && (businessExpForm.get('ebe_total_travel_costs_radio').dirty || businessExpForm.get('ebe_total_travel_costs_radio').touched)">-->
                                                    <!--Please enter value!-->
                                                    <!--</small>-->
                                                    <div *ngFor="let expense of travel.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row">
                                                                <div class="col-lg-9">
                                                                    <mat-form-field class="full-width-field">
                                                                        <mat-label>Description</mat-label>
                                                                        <input matInput
                                                                               formControlName="cost_description"
                                                                               placeholder="Description">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <mat-form-field
                                                                            class="full-width-field">
                                                                        <input matInput
                                                                               formControlName="cost_value"
                                                                                 type="number"  min="0"  min="0"

                                                                               class="dollarIcon">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div
                                                                        class="expenses_equipments_cost_array expenses_equipments_cost_array_1">
                                                                    <a *ngIf="i>0" class="remove"
                                                                       (click)="removeTravel(i)"
                                                                       count="expenses_equipments_cost_array_1"
                                                                       href="javascript:;">
                                                                        <img src="assets/img/aitax-online/close-icon.png"/>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="additional text-left" *ngIf="travel.length"
                                                       (click)="addTravel()" type="desc"
                                                       id="expenses_equipments_cost_array" href="javascript:;">
                                                        <button type="submit" name="forward"
                                                                class="btn btn-primary btn-add">
                                                            <span>Add Additional</span>
                                                        </button>
                                                    </a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" />
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per"  type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
