<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="transportationForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button" id="dropdownMenuButton" data-display="static" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">Jump to Prior Section</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Additional Transportation Questions</h5>
                                    <div class="row content-question">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="default-label">What’s the distance between your
                                                    home and place of
                                                    work?
                                                    <br>
                                                    <br>
                                                    Using a reasonably good-faith estimate, about how many miles
                                                    in total would you say
                                                    you drove for the year in question? Please note that the
                                                    national average according to the
                                                    U.S. Department of Transportation’s Federal Highway
                                                    Administration is 13,476 miles per
                                                    year. This could be divided between two cars if you own more
                                                    than one vehicle.
                                                </label>

                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Distance</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <mat-label>Total Distance</mat-label>
                                                                <input   type="number"  min="0"  min="0" matInput
                                                                       formControlName="distance"
                                                                       placeholder="Total Distance">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="default-label">How many days a week do you commute
                                                    to work?
                                                </label>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Days</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <mat-label>Days</mat-label>
                                                                <input   type="number"  min="0"  min="0" matInput
                                                                       formControlName="days"
                                                                       placeholder="Days">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="label-sum">Calculated: </label> <input
                                                    readonly
                                                    type="text"
                                                    name="cd_frequency_cost_contribution_calculated"
                                                    class=" cd_frequency_cost_contribution_calculated calc-input"
                                                    value=" {{(transportationForm.get('distance').value * 2 * transportationForm.get('days').value * 52) || 0}}  miles">

                                            </div>

                                            <div class="form-group">
                                                <label class="default-label">Other than the initial commute to
                                                    work and ending commute
                                                    from work, did you have any
                                                    other work mileage, such as traveling between offices,
                                                    business locations, client visits,
                                                    or out-of-town conferences and seminars?</label>

                                                <div class="form-group checkbox_questions mb-3">
                                                    <!--<input formControlName="other_dist_checkbox" type="radio"-->
                                                    <!--value="1"-->
                                                    <!--(change)="toggleDependentsInfo($event)"-->
                                                    <!--class="icheck" id="r_1"><label-->
                                                    <!--for="r_1"></label><span> Yes</span>-->
                                                    <!--&nbsp;-->
                                                    <!--<input formControlName="other_dist_checkbox" type="radio"-->
                                                    <!--value="0"-->
                                                    <!--(change)="toggleDependentsInfo($event)"-->
                                                    <!--class="icheck" id="r_2"><label-->
                                                    <!--for="r_2"></label><span> No</span>-->
                                                    <mat-radio-group
                                                            formControlName="other_dist_checkbox"
                                                            aria-label="Select an option">
                                                        <mat-radio-button
                                                                (change)="toggleDependentsInfo($event)"
                                                                id="r_1"
                                                                type="radio"
                                                                [value]="1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button
                                                                (change)="toggleDependentsInfo($event)"
                                                                id="r_2"
                                                                type="radio"
                                                                [value]="0"> No
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="ve_volunteering_checkbox_link ">
                                                    <div class="form-group">
                                                        <div class="row" formArrayName="other">
                                                            <div class="w-100"
                                                                 *ngFor="let expense of other.controls; let i=index">
                                                                <div [formGroupName]="i">
                                                                    <div class="input-group">
                                                                        <div class="col-lg-12">
                                                                            <div class="row w-100">
                                                                                <div class="col-lg-9">
                                                                                    <mat-form-field
                                                                                            class="full-width-field">
                                                                                        <mat-label>Add
                                                                                            description
                                                                                        </mat-label>
                                                                                        <input type="text"
                                                                                               matInput
                                                                                               formControlName="distance_description"
                                                                                               placeholder="Add description">
                                                                                    </mat-form-field>

                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <mat-form-field
                                                                                            class="full-width-field">
                                                                                        <mat-label>Total
                                                                                            Distance
                                                                                        </mat-label>
                                                                                        <input   type="number"  min="0"  min="0"
                                                                                               matInput
                                                                                               formControlName="distance_value"
                                                                                               placeholder="Total Distance">
                                                                                    </mat-form-field>
                                                                                </div>
                                                                                <a *ngIf="i>0" class="remove"
                                                                                   count="ve_volunteering_array_1"
                                                                                   (click)="removeExpense(i)"
                                                                                   href="javascript:;">
                                                                                    <img class="close-icon"
                                                                                         src="assets/img/aitax-online/close-icon.png"/>
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class="additional text-left" *ngIf="other.length"
                                                           (click)="addExpense()"
                                                           type="inputWithCost" id="ve_volunteering_array"
                                                           href="javascript:;">
                                                            <button type="submit" name="forward"
                                                                    class="btn btn-primary btn-add">
                                                                <span>Add Additional</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->

                        <!-- /row -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
