<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class="main_question">Basic Information</h3>
                                    <h5 class="sub-title-question">We need to determine if the state you live in
                                        requires
                                        additional tax filings</h5>

                                    <div class="row content-question">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>City or Township</mat-label>
                                                    <input matInput formControlName="city"
                                                           placeholder="City or Township">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="form-group-select">
                                                    <div class="styled-select">
                                                        <select id="" formControlName="state">
                                                            <option value="" selected>State</option>
                                                            <option *ngFor="let state of states"
                                                                    value="{{state}}">{{state}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>School District</mat-label>
                                                    <input matInput formControlName="school"
                                                           placeholder="School District">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <mat-form-field class="full-width-field">
                                                    <mat-label>County</mat-label>
                                                    <input matInput formControlName="county"
                                                           placeholder="County">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>