<div id="main_container" class="visible">
    <div class="wrapper_in">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_1">
                    <div id="survey_container">
                        <div id="middle-wizard">
                            <div id="top-wizard">
                                <!-- <strong>Progress</strong> -->
                                <div id="progressbar"></div>
                            </div>
                            <!-- /top-wizard -->
                            <app-progress-bar></app-progress-bar>
                            <form [formGroup]="vehicleInsuranceForm" (ngSubmit)="onSubmit()">
                                <!--<div style="float: right;" class="mt-4 dropdown pull-right">-->
                                <!--<button class="btn btnSt dropdown-toggle" type="button"-->
                                <!--id="dropdownMenuButton" data-display="static" aria-haspopup="true"-->
                                <!--data-toggle="dropdown" aria-expanded="false">Jump to Prior Section-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu pre-scrollable dropdown-menu-lg-right"-->
                                <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item screenNum" href="#" id="0">Introduction</a>-->
                                <!--<a style="display: none;" class="dropdown-item screenNum" href="#"></a>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="step submit">
                                    <h3 class=" main_question">Employee Business Expenses</h3>
                                    <h5 class="sub-title-question">Vehicle Insurance</h5>
                                    <div class="row content-question">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="default-label"> How much did you pay for your auto
                                                    insurance last
                                                    year? </label>
                                                <br>
                                                <div class="input-group mb-3">
                                                    <div class="row w-100">
                                                        <div class="col-lg-10">
                                                            <div class="form-group-select">
                                                                <span class="input-group-text">Total Auto Insurance </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-form-field class="full-width-field">
                                                                <input matInput  type="number"  min="0"
                                                                       class="dollarIcon"
                                                                       formControlName="eves_Total_Auto_Insurance">
                                                            </mat-form-field>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="default-label"> Did you have any annual
                                                    registration, safety inspection,
                                                    or vehicle taxes in 2019? </label>
                                                <div class="form-group checkbox_questions mb-3">
                                                    <mat-radio-group
                                                            formControlName="eves_inspection_Total_Costs_radio"
                                                            aria-label="Select an option">
                                                        <mat-radio-button

                                                                value="1"
                                                                id="r_1">Yes
                                                        </mat-radio-button>
                                                        <mat-radio-button

                                                                value="0" id="r_2">No
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                </div>

                                                <div class="eves_inspection_Total_Costs_radio_box"
                                                     *ngIf="vehicleInsuranceForm.get('eves_inspection_Total_Costs_radio').value == 1">
                                                    <div class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Total Costs</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field class="full-width-field">
                                                                    <input matInput  type="number"  min="0"
                                                                           class="dollarIcon"
                                                                           formControlName="eves_inspection_Total_Costs">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="isMarried" class="input-group mb-3">
                                                        <div class="row w-100">
                                                            <div class="col-lg-10">
                                                                <div class="form-group-select">
                                                                    <span class="input-group-text">Total Costs (Spouse)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <mat-form-field class="full-width-field">
                                                                    <input matInput  type="number"  min="0"
                                                                           class="dollarIcon"
                                                                           formControlName="eves_spouse_inspection_Total_Costs">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="bottom-wizard">
                                    <input type="hidden" name="screenCount" id="screenCount" value=""/>
                                    <button type="button" name="backward" (click)="back()"
                                            class="btn btn-primary backward">
                                        <span>Back</span>
                                    </button>
                                    <button type="submit" name="process"
                                            class="btn btn-failure submit">
                                        <span>Save</span>
                                    </button>
                                    <button type="submit" name="forward" class="btn btn-primary ">
                                        <span>Next</span>
                                    </button>
                                    <!-- <button style="display: none;" id="per" value="" type="submit" name="isSubmit" class="submit">Submit</button> -->
                                </div>
                            </form>

                        </div>
                        <!-- /Wizard container -->
                    </div>
                    <!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                </div>
                <!-- /tab content -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /wrapper_in -->
    </div>
    <!-- /main_container -->
</div>
